Repository Sage-Bionetworks/sage-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tschaffter, @rrchai, @vpchung, @linglp, @andrewelamb

install echarts package
  package.json
  yarn.lock
Owners: @tschaffter

add new endpoint
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/components/schemas/RelationshipType.yaml
Owners: @linglp, @andrewelamb

add new endpoint
  apps/schematic/api/schematic_api/openapi/openapi.yaml
Owners: @linglp, @andrewelamb

make initial echart plot
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.html
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.scss
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.ts
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.module.ts
Owners: @tschaffter, @rrchai, @vpchung

move description out of conditional container (#1934)
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.html
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.scss
  libs/openchallenges/challenge/src/lib/challenge-organizers/challenge-organizers.component.html
  libs/openchallenges/challenge/src/lib/challenge-organizers/challenge-organizers.component.scss
  libs/openchallenges/org-profile/src/lib/_org-profile-theme.scss
  libs/openchallenges/org-profile/src/lib/org-profile-members/org-profile-members.component.html
  libs/openchallenges/org-profile/src/lib/org-profile-members/org-profile-members.component.scss
Owners: @tschaffter, @rrchai, @vpchung

remove ngx-echarts
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.html
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.scss
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.ts
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.module.ts
  package.json
  yarn.lock
Owners: @tschaffter, @rrchai, @vpchung

add new endpoint
  apps/schematic/api/schematic_api/controllers/schema_controller_impl.py
  apps/schematic/api/schematic_api/test/test_schema_controller_endpoints.py
  apps/schematic/api/schematic_api/test/test_schema_controller_impl.py
Owners: @linglp, @andrewelamb

generate initial challenge_cn over time
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.scss
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.ts
Owners: @tschaffter, @rrchai, @vpchung

add blank text
  libs/openchallenges/home/src/lib/home.component.html
  libs/openchallenges/home/src/lib/home.component.scss
Owners: @tschaffter, @rrchai, @vpchung

.github/CODEOWNERS:

* @tschaffter

/apps/openchallenges/ @tschaffter @rrchai @vpchung
/libs/openchallenges/ @tschaffter @rrchai @vpchung

/apps/schematic/ @linglp @andrewelamb
/libs/schematic/ @linglp @andrewelamb

/libs/shared/ @tschaffter
