Repository Sage-Bionetworks/sage-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tschaffter, @rrchai, @vpchung, @mdsage1

.github/CODEOWNERS:

* @tschaffter

/apps/openchallenges/ @tschaffter @rrchai @vpchung
/apps/openchallenges/image-service/ @mdsage1
/libs/openchallenges/ @tschaffter @rrchai @vpchung
/libs/openchallenges/api-description/ @mdsage1
/libs/shared/ @tschaffter

Image service now accepts image query
  apps/openchallenges/image-service/.openapi-generator/FILES
  apps/openchallenges/image-service/src/main/java/org/sagebionetworks/openchallenges/image/service/api/ImageApi.java
  apps/openchallenges/image-service/src/main/java/org/sagebionetworks/openchallenges/image/service/api/ImageApiDelegate.java
  apps/openchallenges/image-service/src/main/java/org/sagebionetworks/openchallenges/image/service/api/ImageApiDelegateImpl.java
  apps/openchallenges/image-service/src/main/java/org/sagebionetworks/openchallenges/image/service/model/dto/ImageQueryDto.java
  apps/openchallenges/image-service/src/main/java/org/sagebionetworks/openchallenges/image/service/service/ImageService.java
  apps/openchallenges/image-service/src/main/resources/openapi.yaml
Owners: @mdsage1

[Story] Write a unit test for the enpoint of the image service Fixes #1456
  apps/openchallenges/image-service/src/test/java/org/sagebionetworks/openchallenges/image/service/service/ImageServiceTest.java
Owners: @mdsage1

updat unit test
  apps/openchallenges/image-service/src/test/java/org/sagebionetworks/openchallenges/image/service/service/ImageServiceTest.java
Owners: @mdsage1

Fix import
  apps/openchallenges/image-service/src/main/java/org/sagebionetworks/openchallenges/image/service/api/ImageApiDelegateImpl.java
Owners: @mdsage1

Add example request
  apps/openchallenges/image-service/requests.http
Owners: @mdsage1

Regenerate API client for Angular
  libs/openchallenges/api-client-angular/src/lib/.openapi-generator/FILES
  libs/openchallenges/api-client-angular/src/lib/api/challengeInputDataType.service.ts
  libs/openchallenges/api-client-angular/src/lib/api/challengePlatform.service.ts
  libs/openchallenges/api-client-angular/src/lib/api/image.service.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengeInputDataTypeDirection.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengeInputDataTypeSearchQuery.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengeInputDataTypeSort.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengePlatformDirection.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengePlatformSearchQuery.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengePlatformSort.ts
  libs/openchallenges/api-client-angular/src/lib/model/imageQuery.ts
  libs/openchallenges/api-client-angular/src/lib/model/models.ts
Owners: @tschaffter, @rrchai, @vpchung

[Story] Write a unit test for the enpoint of the image service Fixes #1456
  apps/openchallenges/image-service/src/test/java/org/sagebionetworks/openchallenges/image/service/service/ImageServiceTest.java
Owners: @mdsage1

Allow to get images from Thumbor via the API gateway
  apps/openchallenges/api-gateway/src/main/java/org/sagebionetworks/openchallenges/api/gateway/config/SecurityConfig.java
  libs/openchallenges/about/src/lib/about.component.html
  libs/openchallenges/about/src/lib/about.component.ts
Owners: @tschaffter, @rrchai, @vpchung

The org service now depends on the image service
  docker/openchallenges/services/organization-service.yml
Owners: @tschaffter

The org service now get logo url from the image service
  apps/openchallenges/organization-service/build.gradle
  apps/openchallenges/organization-service/config/application-local.yml
  apps/openchallenges/organization-service/src/main/java/org/sagebionetworks/openchallenges/organization/service/OrganizationServiceApplication.java
  apps/openchallenges/organization-service/src/main/java/org/sagebionetworks/openchallenges/organization/service/model/dto/ImageDto.java
  apps/openchallenges/organization-service/src/main/java/org/sagebionetworks/openchallenges/organization/service/model/dto/ImageQueryDto.java
  apps/openchallenges/organization-service/src/main/java/org/sagebionetworks/openchallenges/organization/service/model/rest/response/ImageResponse.java
  apps/openchallenges/organization-service/src/main/java/org/sagebionetworks/openchallenges/organization/service/service/OrganizationService.java
  apps/openchallenges/organization-service/src/main/java/org/sagebionetworks/openchallenges/organization/service/service/rest/ImageServiceRestClient.java
Owners: @tschaffter, @rrchai, @vpchung

Cleanup
  apps/openchallenges/organization-service/src/main/java/org/sagebionetworks/openchallenges/organization/service/model/dto/ImageDto.java
  apps/openchallenges/organization-service/src/main/java/org/sagebionetworks/openchallenges/organization/service/model/dto/ImageQueryDto.java
  apps/openchallenges/organization-service/src/main/java/org/sagebionetworks/openchallenges/organization/service/service/OrganizationService.java
Owners: @tschaffter, @rrchai, @vpchung

Update local config
  apps/openchallenges/organization-service/config/application-local.yml
Owners: @tschaffter, @rrchai, @vpchung

add image objectId, update emails and descriptions
  apps/openchallenges/organization-service/src/main/resources/db/migration/V1.0.1__insert_temp_data.sql
Owners: @tschaffter, @rrchai, @vpchung

add image objectId, update emails and descriptions (#1473)
  apps/openchallenges/organization-service/src/main/resources/db/migration/V1.0.1__insert_temp_data.sql
Owners: @tschaffter, @rrchai, @vpchung

fix: remove excess checks from unit test
  apps/openchallenges/image-service/src/test/java/org/sagebionetworks/openchallenges/image/service/service/ImageServiceTest.java
Owners: @mdsage1

Add custom repository for challenge input data type
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/repository/ChallengeInputDataTypeRepository.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/repository/CustomChallengeInputDataTypeRepository.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/repository/CustomChallengeInputDataTypeRepositoryImpl.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/service/ChallengeInputDataTypeService.java
Owners: @tschaffter, @rrchai, @vpchung

Finalize custom repository and add example requests
  apps/openchallenges/challenge-service/requests.http
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/entity/ChallengeInputDataTypeEntity.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/search/ChallengeInputDataTypeNameValueBridge.java
Owners: @tschaffter, @rrchai, @vpchung

fix: Fix challenge input data type full-text search and sorters (#1478)
  apps/openchallenges/challenge-service/requests.http
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/entity/ChallengeInputDataTypeEntity.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/repository/ChallengeInputDataTypeRepository.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/repository/CustomChallengeInputDataTypeRepository.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/repository/CustomChallengeInputDataTypeRepositoryImpl.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/search/ChallengeInputDataTypeNameValueBridge.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/service/ChallengeInputDataTypeService.java
Owners: @tschaffter, @rrchai, @vpchung

Add sorters to challenge platforms
  apps/openchallenges/challenge-service/requests.http
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/dto/ChallengePlatformSortDto.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/entity/ChallengePlatformEntity.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/repository/CustomChallengePlatformRepositoryImpl.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/search/ChallengePlatformNameValueBridge.java
  apps/openchallenges/challenge-service/src/main/resources/openapi.yaml
  libs/openchallenges/api-description/build/challenge.openapi.yaml
  libs/openchallenges/api-description/build/openapi.yaml
  libs/openchallenges/api-description/src/components/schemas/ChallengePlatformSort.yaml
Owners: @tschaffter, @rrchai, @vpchung, @mdsage1

Add sorters to challenge platforms (#1480)
  apps/openchallenges/challenge-service/requests.http
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/dto/ChallengePlatformSortDto.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/entity/ChallengePlatformEntity.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/repository/CustomChallengePlatformRepositoryImpl.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/search/ChallengePlatformNameValueBridge.java
  apps/openchallenges/challenge-service/src/main/resources/openapi.yaml
  libs/openchallenges/api-description/build/challenge.openapi.yaml
  libs/openchallenges/api-description/build/openapi.yaml
  libs/openchallenges/api-description/src/components/schemas/ChallengePlatformSort.yaml
Owners: @tschaffter, @rrchai, @vpchung, @mdsage1

Set org login to 2-64 chars in API description
  apps/openchallenges/organization-service/src/main/java/org/sagebionetworks/openchallenges/organization/service/api/OrganizationApi.java
  apps/openchallenges/organization-service/src/main/java/org/sagebionetworks/openchallenges/organization/service/model/dto/OrganizationDto.java
  apps/openchallenges/organization-service/src/main/resources/openapi.yaml
  libs/openchallenges/api-description/build/imaging.openapi.yaml
  libs/openchallenges/api-description/build/openapi.yaml
  libs/openchallenges/api-description/build/organization.openapi.yaml
  libs/openchallenges/api-description/src/components/schemas/OrganizationLogin.yaml
Owners: @tschaffter, @rrchai, @vpchung, @mdsage1

Update api client
  libs/openchallenges/api-client-angular/src/lib/.openapi-generator/FILES
  libs/openchallenges/api-client-angular/src/lib/api/challengeInputDataType.service.ts
  libs/openchallenges/api-client-angular/src/lib/api/challengePlatform.service.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengeInputDataTypeDirection.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengeInputDataTypeSearchQuery.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengeInputDataTypeSort.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengePlatformDirection.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengePlatformSearchQuery.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengePlatformSort.ts
  libs/openchallenges/api-client-angular/src/lib/model/models.ts
Owners: @tschaffter, @rrchai, @vpchung

Add a constraint to the organization SQL table
  apps/openchallenges/organization-service/src/main/resources/db/migration/V1.0.0__create_tables.sql
Owners: @tschaffter, @rrchai, @vpchung

Add terraform CLI to the devcontainer
  tools/devcontainers/sage/.devcontainer/Dockerfile
Owners: @tschaffter

Add terraform CLI to the devcontainer (#1483)
  tools/devcontainers/sage/.devcontainer/Dockerfile
Owners: @tschaffter

Update devcontainer with terraform and add Terraform CDK CLI
  .devcontainer/devcontainer.json
  package.json
  yarn.lock
Owners: @tschaffter

Update devcontainer with terraform and add Terraform CDK CLI (#1484)
  .devcontainer/devcontainer.json
  package.json
  yarn.lock
Owners: @tschaffter

Disable spotless check when serving app
  apps/openchallenges/image-service/project.json
  apps/openchallenges/image-service/src/main/java/org/sagebionetworks/openchallenges/image/service/ImageServiceApplication.java
Owners: @mdsage1

git stash
  .husky/pre-commit
Owners: @tschaffter

Update pre-commit hook
  .husky/pre-commit
Owners: @tschaffter

Test pre-commit hook
  apps/openchallenges/image-service/src/main/java/org/sagebionetworks/openchallenges/image/service/ImageServiceApplication.java
Owners: @mdsage1

Update pre-commit hook
  .husky/pre-commit
Owners: @tschaffter

[Story] Write a unit test for the enpoint of the image service Fixes #1456
  apps/openchallenges/auth-service/build.gradle
  apps/openchallenges/image-service/build.gradle
  apps/openchallenges/image-service/src/test/java/org/sagebionetworks/openchallenges/image/service/service/ImageServiceTest.java
Owners: @tschaffter, @rrchai, @vpchung, @mdsage1

Cleanup
  apps/openchallenges/image-service/project.json
Owners: @mdsage1

Enable formatting on save
  .vscode/settings.json
Owners: @tschaffter

The task `test` now depends on the task `^install`
  apps/openchallenges/image-service/project.json
Owners: @mdsage1

Commit WIP
  apps/openchallenges/image-service/src/test/java/org/sagebionetworks/openchallenges/image/service/service/ImageServiceTest.java
  apps/openchallenges/image-service/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Owners: @mdsage1

Create thumbor with a Bean
  apps/openchallenges/image-service/build.gradle
  apps/openchallenges/image-service/src/main/java/org/sagebionetworks/openchallenges/image/service/configuration/ThumborConfig.java
  apps/openchallenges/image-service/src/main/java/org/sagebionetworks/openchallenges/image/service/service/ImageService.java
  apps/openchallenges/image-service/src/test/java/org/sagebionetworks/openchallenges/image/service/service/ImageServiceTest.java
Owners: @mdsage1

Fix tests
  apps/openchallenges/image-service/src/test/java/org/sagebionetworks/openchallenges/image/service/service/ImageServiceTest.java
Owners: @mdsage1

Clean up
  apps/openchallenges/image-service/src/test/java/org/sagebionetworks/openchallenges/image/service/service/ImageServiceTest.java
Owners: @mdsage1
