Repository Sage-Bionetworks/sage-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tschaffter, @rrchai, @gaiaandreoletti, @Sage-Bionetworks/sage-monorepo-agora

chore: use imperative voice across all tools
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/ChallengeAnalyticsService.java
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/ChallengeContributionService.java
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/ChallengePlatformService.java
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/ChallengeService.java
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/EdamConceptService.java
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/OrganizationService.java
Owners: @rrchai, @tschaffter

chore: remove .gitattributes
  apps/openchallenges/mcp-server/.gitattributes
Owners: @rrchai, @tschaffter

chore: update spring ai to v1.0.3
  gradle/libs.versions.toml
Owners: @tschaffter

fix(model-ad): attempt to stabilize flaky test (AG-1888) (#3567)
  apps/model-ad/app/e2e/model-details.spec.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

adding ct base controls component
  libs/explorers/comparison-tools/src/index.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-controls/comparison-tool-controls.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-controls/comparison-tool-controls.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-controls/comparison-tool-controls.component.ts
  libs/model-ad/model-overview-comparison-tool/src/lib/model-overview-comparison-tool.component.html
  libs/model-ad/model-overview-comparison-tool/src/lib/model-overview-comparison-tool.component.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

chore: restore correct Spring AI package
  apps/openchallenges/mcp-server/.env.example
  gradle/libs.versions.toml
  package.json
  pnpm-lock.yaml
Owners: @rrchai, @tschaffter

chore: fix deprecation warning for resource
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/EdamConceptResourceService.java
Owners: @rrchai, @tschaffter

feat(model-ad): add CT base controls component (#3568)
  libs/explorers/comparison-tools/src/index.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-controls/comparison-tool-controls.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-controls/comparison-tool-controls.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-controls/comparison-tool-controls.component.ts
  libs/model-ad/model-overview-comparison-tool/src/lib/model-overview-comparison-tool.component.html
  libs/model-ad/model-overview-comparison-tool/src/lib/model-overview-comparison-tool.component.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

feat: add resource template for edam
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/McpServerApplication.java
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/EdamConceptResourceService.java
Owners: @rrchai, @tschaffter

fix: address uv warning: Failed to hardlink files (SMR-534) (#3564)
  .devcontainer/devcontainer.json
Owners: @tschaffter

feat(bixarena): add the pgvector extension to Postgres (SMR-536) (#3565)
  apps/bixarena/postgres/Dockerfile
  apps/bixarena/postgres/docker-entrypoint-initdb.d/01_pgvector.sql
  apps/bixarena/postgres/docker-entrypoint-initdb.d/02_bixarena_setup.sql
  apps/bixarena/postgres/project.json
Owners: @rrchai, @tschaffter

feat(bixarena): add business logic to spec-driven FastAPI (SMR-521) (#3566)
  apps/bixarena/ai-service/bixarena_ai_service/impl/health_check_impl.py
  apps/bixarena/ai-service/project.json
  apps/bixarena/ai-service/pyproject.toml
  apps/bixarena/ai-service/tests/test_health_check_impl.py
  pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

feat: create project bixarena-infra-cdk
  apps/bixarena/infra/cdk/README.md
  apps/bixarena/infra/cdk/bixarena_infra_cdk/__init__.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/hello.py
  apps/bixarena/infra/cdk/project.json
  apps/bixarena/infra/cdk/pyproject.toml
  apps/bixarena/infra/cdk/tests/__init__.py
  apps/bixarena/infra/cdk/tests/conftest.py
  apps/bixarena/infra/cdk/tests/test_hello.py
  pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

chore: add dependencies
  apps/bixarena/infra/cdk/pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

chore: migrate existing CDK app to the new project
  apps/bixarena/infra/cdk/bixarena_infra_cdk/__init__.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/app_main.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/ecs_stack.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/load_balancer_stack.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/network_stack.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/service_props.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/service_stack.py
  apps/bixarena/infra/cdk/tests/test_network_stack.py
  apps/bixarena/infra/cdk/tests/test_service_stack.py
Owners: @rrchai, @tschaffter

chore: remove hello-world
  apps/bixarena/infra/cdk/bixarena_infra_cdk/hello.py
  apps/bixarena/infra/cdk/project.json
  apps/bixarena/infra/cdk/tests/test_hello.py
Owners: @rrchai, @tschaffter

chore: split app_main and add .env
  apps/bixarena/infra/cdk/.env.example
  apps/bixarena/infra/cdk/bixarena_infra_cdk/__init__.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/app.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/main.py
  apps/bixarena/infra/cdk/project.json
  apps/bixarena/infra/cdk/pyproject.toml
Owners: @rrchai, @tschaffter

chore: install cdk and add synth task
  apps/bixarena/infra/cdk/.env.example
  apps/bixarena/infra/cdk/.gitignore
  apps/bixarena/infra/cdk/cdk.json
  apps/bixarena/infra/cdk/project.json
  package.json
  pnpm-lock.yaml
Owners: @rrchai, @tschaffter

chore: lower min coverage for test to pass
  apps/bixarena/infra/cdk/pyproject.toml
Owners: @rrchai, @tschaffter

feat: create config for dev, stage and prod
  apps/bixarena/infra/cdk/.env.dev.example
  apps/bixarena/infra/cdk/.env.prod.example
  apps/bixarena/infra/cdk/.env.stage.example
  apps/bixarena/infra/cdk/.envprod
  apps/bixarena/infra/cdk/project.json
Owners: @rrchai, @tschaffter

chore: add deploy and ls command
  apps/bixarena/infra/cdk/project.json
Owners: @rrchai, @tschaffter

docs: add README
  apps/bixarena/infra/cdk/README.md
Owners: @rrchai, @tschaffter

chore: cleanup env files
  apps/bixarena/infra/cdk/.env.example
  apps/bixarena/infra/cdk/.envprod
Owners: @rrchai, @tschaffter

fix: sort packages in packages.json
  package.json
Owners: @tschaffter

fix error:NG05001: Configuration error: found both hydration and enabledBlocking initial navigation in the same application, which is a contradiction.
  apps/model-ad/app/src/app/app.config.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

add search svg icon
  libs/explorers/assets/icons/search.svg
  libs/explorers/services/src/lib/svg-icon.service.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

tweak displayed results component styling to match search input
  libs/explorers/comparison-tools/src/lib/displayed-results/displayed-results.component.scss
Owners: @Sage-Bionetworks/sage-monorepo-agora

add search input component and filter service
  libs/explorers/comparison-tools/src/lib/comparison-tool-controls/comparison-tool-controls.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-controls/comparison-tool-controls.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-search-input/comparison-tool-search-input.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-search-input/comparison-tool-search-input.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-search-input/comparison-tool-search-input.component.ts
  libs/explorers/comparison-tools/src/lib/services/comparison-tool-filter.service.spec.ts
  libs/explorers/comparison-tools/src/lib/services/comparison-tool-filter.service.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

infra(bixarena): bootstrap the first CDK app of the monorepo for BixArena (SMR-538) (#3570)
  apps/bixarena/infra/cdk/.env.dev.example
  apps/bixarena/infra/cdk/.env.example
  apps/bixarena/infra/cdk/.env.prod.example
  apps/bixarena/infra/cdk/.env.stage.example
  apps/bixarena/infra/cdk/.gitignore
  apps/bixarena/infra/cdk/README.md
  apps/bixarena/infra/cdk/bixarena_infra_cdk/__init__.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/app.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/ecs_stack.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/load_balancer_stack.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/main.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/network_stack.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/service_props.py
  apps/bixarena/infra/cdk/bixarena_infra_cdk/service_stack.py
  apps/bixarena/infra/cdk/cdk.json
  apps/bixarena/infra/cdk/project.json
  apps/bixarena/infra/cdk/pyproject.toml
  apps/bixarena/infra/cdk/tests/__init__.py
  apps/bixarena/infra/cdk/tests/conftest.py
  apps/bixarena/infra/cdk/tests/test_network_stack.py
  apps/bixarena/infra/cdk/tests/test_service_stack.py
  package.json
  pnpm-lock.yaml
  pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

chore: add security scheme and scopes to API description
  libs/bixarena/api-description/src/paths/example-prompts.yaml
  libs/bixarena/api-description/src/paths/leaderboards.yaml
  libs/bixarena/api-description/src/paths/leaderboards/{leaderboardId}.yaml
  libs/bixarena/api-description/src/paths/leaderboards/{leaderboardId}/history/{modelId}.yaml
  libs/bixarena/api-description/src/paths/leaderboards/{leaderboardId}/snapshots.yaml
  libs/bixarena/api-description/src/paths/models.yaml
Owners: @rrchai, @tschaffter

chore: build api description
  libs/bixarena/api-description/openapi/api-public.openapi.yaml
  libs/bixarena/api-description/openapi/api-service.openapi.yaml
  libs/bixarena/api-description/openapi/openapi.yaml
Owners: @rrchai, @tschaffter

chore: update openapi description
  libs/bixarena/api-description/src/components/securitySchemes/JwtBearer.yaml
Owners: @rrchai, @tschaffter

feat: add auth endpoint to the main api description
  libs/bixarena/api-description/openapi/api-public.openapi.yaml
  libs/bixarena/api-description/openapi/api-service.openapi.yaml
  libs/bixarena/api-description/openapi/openapi.yaml
  libs/bixarena/api-description/src/api.openapi.yaml
  libs/bixarena/api-description/src/components/responses/Forbidden.yaml
  libs/bixarena/api-description/src/components/responses/Unauthorized.yaml
  libs/bixarena/api-description/src/paths/admin-stats.yaml
  libs/bixarena/api-description/src/paths/auth-oidc-callback.yaml
  libs/bixarena/api-description/src/paths/auth-oidc-start.yaml
  libs/bixarena/api-description/src/paths/echo.yaml
  libs/bixarena/api-description/src/paths/jwks.yaml
  libs/bixarena/api-description/src/paths/token.yaml
Owners: @rrchai, @tschaffter

feat: add user and external account table
  apps/bixarena/api/build.gradle.kts
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/BixArenaApiApplication.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/configuration/AppProperties.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/model/entity/ExternalAccountEntity.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/model/entity/UserEntity.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/model/repository/UserRepository.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/service/InternalJwtService.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/service/JwkKeyStore.java
  apps/bixarena/api/src/main/resources/application.yml
  apps/bixarena/api/src/main/resources/db/migration/V1.0.0__create_tables.sql
  libs/bixarena/api-description/src/components/securitySchemes/JwtBearer.yaml
Owners: @rrchai, @tschaffter

chore: cleanup gradle build file
  apps/bixarena/api/build.gradle.kts
Owners: @rrchai, @tschaffter

fix: fix user table
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/configuration/BixArenaApiConfiguration.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/service/AuthApiDelegateImpl.java
  apps/bixarena/api/src/main/resources/db/migration/V1.0.0__create_tables.sql
Owners: @rrchai, @tschaffter

fix: fix api bui;d
  apps/bixarena/api/build.gradle.kts
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApiDelegateImpl.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/service/AuthApiDelegateImpl.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/service/JwkKeyStore.java
  gradle/libs.versions.toml
Owners: @rrchai, @tschaffter

chore: can land on Synapse login page
  apps/bixarena/api/.env.example
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApi.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApiDelegate.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApiDelegateImpl.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/configuration/SecurityConfiguration.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/model/repository/ExternalAccountRepository.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/model/repository/UserRepository.java
  apps/bixarena/api/src/main/resources/application.yml
  apps/bixarena/app/bixarena_app/page/bixarena_header.py
  libs/bixarena/api-client-python/README.md
  libs/bixarena/api-client-python/bixarena_api_client/api/auth_api.py
  libs/bixarena/api-client-python/docs/AuthApi.md
  libs/bixarena/api-description/openapi/api-public.openapi.yaml
  libs/bixarena/api-description/openapi/api-service.openapi.yaml
  libs/bixarena/api-description/openapi/openapi.yaml
  libs/bixarena/api-description/src/paths/auth-oidc-start.yaml
Owners: @rrchai, @tschaffter

feat: can login but login button still displayed
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApiDelegateImpl.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/UtilityApiDelegateImpl.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/configuration/AppProperties.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/configuration/SecurityConfiguration.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/model/dto/Echo200ResponseDto.java
  apps/bixarena/api/src/main/resources/application.yml
  apps/bixarena/api/src/test/java/org/sagebionetworks/bixarena/api/BixArenaApiApplicationTests.java
  apps/bixarena/app/bixarena_app/auth/token_client.py
  apps/bixarena/app/bixarena_app/auth/token_store.py
  libs/bixarena/api-description/src/paths/auth-oidc-start.yaml
Owners: @rrchai, @tschaffter

feat: succeed in doing a login round trip
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApiDelegateImpl.java
  apps/bixarena/api/src/main/resources/application.yml
  apps/bixarena/app/bixarena_app/page/bixarena_header.py
Owners: @rrchai, @tschaffter

.github/CODEOWNERS:

* @tschaffter

# Repository administration
/.devcontainer @tschaffter
/.github @tschaffter
/.vscode @tschaffter
/.yarn @tschaffter

# BixArena
/apps/bixarena/ @rrchai @tschaffter
/libs/bixarena/ @rrchai @tschaffter
/docker/bixarena/ @rrchai @tschaffter

# OpenChallenges
/apps/openchallenges/ @rrchai @tschaffter
/libs/openchallenges/ @rrchai @tschaffter

## DB content
/apps/openchallenges/challenge-service/src/main/resources/db/     @tschaffter @gaiaandreoletti
/apps/openchallenges/organization-service/src/main/resources/db/  @tschaffter @gaiaandreoletti

## Sage
/apps/sage/ @tschaffter
/libs/sage/ @tschaffter

/apps/agora/ @Sage-Bionetworks/sage-monorepo-agora
/libs/agora/ @Sage-Bionetworks/sage-monorepo-agora
/.github/workflows/e2e-agora.yaml @Sage-Bionetworks/sage-monorepo-agora

/libs/shared/ @tschaffter

/apps/model-ad/ @Sage-Bionetworks/sage-monorepo-agora
/docker/model-ad/ @Sage-Bionetworks/sage-monorepo-agora
/libs/model-ad/ @Sage-Bionetworks/sage-monorepo-agora
/libs/results-visualization-framework/ @Sage-Bionetworks/sage-monorepo-agora

/libs/explorers/ @Sage-Bionetworks/sage-monorepo-agora

/libs/synapse/ @Sage-Bionetworks/sage-monorepo-agora
