Repository Sage-Bionetworks/sage-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tschaffter, @rrchai, @gaiaandreoletti, @Sage-Bionetworks/sage-monorepo-agora

.github/CODEOWNERS:

* @tschaffter

# Repository administration
/.devcontainer @tschaffter
/.github @tschaffter
/.vscode @tschaffter
/.yarn @tschaffter

# BixArena
/apps/bixarena/ @rrchai @tschaffter
/libs/bixarena/ @rrchai @tschaffter
/docker/bixarena/ @rrchai @tschaffter

# OpenChallenges
/apps/openchallenges/ @rrchai @tschaffter
/libs/openchallenges/ @rrchai @tschaffter

## DB content
/apps/openchallenges/challenge-service/src/main/resources/db/     @tschaffter @gaiaandreoletti
/apps/openchallenges/organization-service/src/main/resources/db/  @tschaffter @gaiaandreoletti

## Sage
/apps/sage/ @tschaffter
/libs/sage/ @tschaffter

/apps/agora/ @Sage-Bionetworks/sage-monorepo-agora
/libs/agora/ @Sage-Bionetworks/sage-monorepo-agora
/.github/workflows/e2e-agora.yaml @Sage-Bionetworks/sage-monorepo-agora

/libs/shared/ @tschaffter

/apps/model-ad/ @Sage-Bionetworks/sage-monorepo-agora
/docker/model-ad/ @Sage-Bionetworks/sage-monorepo-agora
/libs/model-ad/ @Sage-Bionetworks/sage-monorepo-agora
/libs/results-visualization-framework/ @Sage-Bionetworks/sage-monorepo-agora

/libs/explorers/ @Sage-Bionetworks/sage-monorepo-agora

/libs/synapse/ @Sage-Bionetworks/sage-monorepo-agora

fix(agora): attempt to stabilize flaky test (AG-1888)
  apps/agora/app/e2e/gene-details.spec.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: use two way binding instead of viewChild
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: initial filter panel
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-results-button/comparison-tool-filter-results-button.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.stories.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.ts
  libs/explorers/models/src/index.ts
  libs/explorers/models/src/lib/comparison-tool.ts
  libs/explorers/testing/src/lib/mocks/comparison-tool-mocks.ts
  libs/explorers/testing/src/lib/mocks/index.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: align explorers type with model-ad type
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.stories.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.ts
  libs/explorers/models/src/lib/comparison-tool.ts
  libs/explorers/testing/src/lib/mocks/comparison-tool-mocks.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: replace inline svg with icon component
  libs/explorers/assets/icons/caret-right-outline.svg
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.scss
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: move filter panel main menu item into its own component to simplify styles
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.ts
  libs/explorers/testing/src/lib/mocks/comparison-tool-mocks.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

wip: integrate with gene expression and model overview CTs
  libs/model-ad/gene-expression-comparison-tool/src/lib/gene-expression-comparison-tool.component.html
  libs/model-ad/gene-expression-comparison-tool/src/lib/gene-expression-comparison-tool.component.ts
  libs/model-ad/model-overview-comparison-tool/src/lib/model-overview-comparison-tool.component.html
  libs/model-ad/model-overview-comparison-tool/src/lib/model-overview-comparison-tool.component.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

wip: integrate into disease correlation
  libs/model-ad/disease-correlation-comparison-tool/src/lib/disease-correlation-comparison-tool.component.html
  libs/model-ad/disease-correlation-comparison-tool/src/lib/disease-correlation-comparison-tool.component.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: fix button styling, remove ununsed styles
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.scss
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: fix conversion from config -> filter
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: ngClass -> native class
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.html
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: fix accessibility of close button, add tests
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.html
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: fix response type for filters
  libs/model-ad/api-client-angular/src/lib/model/comparison-tool-config.ts
  libs/model-ad/api-description/openapi/api-public.openapi.yaml
  libs/model-ad/api-description/openapi/api-service.openapi.yaml
  libs/model-ad/api-description/openapi/openapi.yaml
  libs/model-ad/api-description/src/components/schemas/ComparisonToolConfig.yaml
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: consolidate close buttons into a shared component
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-close-button/filter-panel-close-button.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-close-button/filter-panel-close-button.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-close-button/filter-panel-close-button.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-close-button/filter-panel-close-button.component.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: align overlay of pane on main pane with design
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.scss
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: align style with design
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.scss
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: create shared panel header component rather than close button
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/comparison-tool-filter-panel.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-close-button/filter-panel-close-button.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-close-button/filter-panel-close-button.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-close-button/filter-panel-close-button.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.scss
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: fix tests
  libs/model-ad/disease-correlation-comparison-tool/src/lib/disease-correlation-comparison-tool.component.spec.ts
  libs/model-ad/gene-expression-comparison-tool/src/lib/gene-expression-comparison-tool.component.spec.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: improvement from copilot review
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/comparison-tool-filter-panel.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/comparison-tool-filter-panel.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/comparison-tool-filter-panel.component.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

MG-246: make header and panel siblings in base component so panel stretches to correct height
  libs/explorers/comparison-tools/src/lib/base-comparison-tool/base-comparison-tool.component.html
  libs/explorers/comparison-tools/src/lib/base-comparison-tool/base-comparison-tool.component.scss
  libs/explorers/comparison-tools/src/lib/base-comparison-tool/base-comparison-tool.component.stories.ts
  libs/explorers/comparison-tools/src/lib/base-comparison-tool/base-comparison-tool.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/comparison-tool-filter-panel.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/comparison-tool-filter-panel.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/comparison-tool-filter-panel.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/comparison-tool-filter-panel.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.stories.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.ts
  libs/model-ad/disease-correlation-comparison-tool/src/lib/disease-correlation-comparison-tool.component.html
  libs/model-ad/disease-correlation-comparison-tool/src/lib/disease-correlation-comparison-tool.component.ts
  libs/model-ad/gene-expression-comparison-tool/src/lib/gene-expression-comparison-tool.component.html
  libs/model-ad/gene-expression-comparison-tool/src/lib/gene-expression-comparison-tool.component.ts
  libs/model-ad/model-overview-comparison-tool/src/lib/model-overview-comparison-tool.component.html
  libs/model-ad/model-overview-comparison-tool/src/lib/model-overview-comparison-tool.component.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

fix(agora): attempt to stabilize flaky search e2e test (AG-1888) (#3563)
  apps/agora/app/e2e/gene-details.spec.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

fix: set UV_CACHE_DIR in dev-env.sh
  dev-env.sh
Owners: @tschaffter

chore: add comment
  dev-env.sh
Owners: @tschaffter

feat: install pgvector
  apps/bixarena/postgres/Dockerfile
  apps/bixarena/postgres/docker-entrypoint-initdb.d/01_pgvector.sql
  apps/bixarena/postgres/docker-entrypoint-initdb.d/02_bixarena_setup.sql
  apps/bixarena/postgres/project.json
Owners: @rrchai, @tschaffter

chore: add 01_pgvector.sql
  apps/bixarena/postgres/docker-entrypoint-initdb.d/01_pgvector.sql
Owners: @rrchai, @tschaffter

chore: remove conversation table
  apps/bixarena/postgres/docker-entrypoint-initdb.d/02_bixarena_setup.sql
Owners: @rrchai, @tschaffter

initial files
  apps/bixarena/tools/BT_METRIC_README.md
  apps/bixarena/tools/bixarena_tools/bt_eval.py
  apps/bixarena/tools/bixarena_tools/bt_metric.py
Owners: @rrchai, @tschaffter

feat(bixarena): add securty scheme to the API description (SMR-527) (#3560)
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/ExamplePromptApi.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/LeaderboardApi.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/ModelApi.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/configuration/SpringDocConfiguration.java
  apps/bixarena/api/src/main/resources/openapi.yaml
  libs/bixarena/api-client-python/README.md
  libs/bixarena/api-client-python/bixarena_api_client/api/example_prompt_api.py
  libs/bixarena/api-client-python/bixarena_api_client/api/leaderboard_api.py
  libs/bixarena/api-client-python/bixarena_api_client/api/model_api.py
  libs/bixarena/api-client-python/bixarena_api_client/configuration.py
  libs/bixarena/api-client-python/docs/ExamplePromptApi.md
  libs/bixarena/api-client-python/docs/LeaderboardApi.md
  libs/bixarena/api-client-python/docs/ModelApi.md
  libs/bixarena/api-description/openapi/api-public.openapi.yaml
  libs/bixarena/api-description/openapi/api-service.openapi.yaml
  libs/bixarena/api-description/openapi/openapi.yaml
  libs/bixarena/api-description/redocly.yaml
  libs/bixarena/api-description/src/api.openapi.yaml
  libs/bixarena/api-description/src/components/securitySchemes/JwtBearer.yaml
  libs/bixarena/api-description/src/paths/example-prompts.yaml
  libs/bixarena/api-description/src/paths/leaderboards.yaml
  libs/bixarena/api-description/src/paths/leaderboards/{leaderboardId}.yaml
  libs/bixarena/api-description/src/paths/leaderboards/{leaderboardId}/history/{modelId}.yaml
  libs/bixarena/api-description/src/paths/leaderboards/{leaderboardId}/snapshots.yaml
  libs/bixarena/api-description/src/paths/models.yaml
Owners: @rrchai, @tschaffter

chore: move `UV_CACHE_DIR` to the devcontainer.json
  .devcontainer/devcontainer.json
  dev-env.sh
Owners: @tschaffter

feat(model-ad): add filter panel to base comparison tool (MG-246) (#3559)
  libs/explorers/assets/icons/caret-right-outline.svg
  libs/explorers/comparison-tools/src/lib/base-comparison-tool/base-comparison-tool.component.html
  libs/explorers/comparison-tools/src/lib/base-comparison-tool/base-comparison-tool.component.scss
  libs/explorers/comparison-tools/src/lib/base-comparison-tool/base-comparison-tool.component.stories.ts
  libs/explorers/comparison-tools/src/lib/base-comparison-tool/base-comparison-tool.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/comparison-tool-filter-panel.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/comparison-tool-filter-panel.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/comparison-tool-filter-panel.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/comparison-tool-filter-panel.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-header/filter-panel-header.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.spec.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-filter-panel/filter-panel-main-menu-item-button/filter-panel-main-menu-item-button.component.ts
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-filter-results-button/comparison-tool-filter-results-button.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.scss
  libs/explorers/comparison-tools/src/lib/comparison-tool-header/comparison-tool-header.component.ts
  libs/explorers/models/src/index.ts
  libs/explorers/models/src/lib/comparison-tool.ts
  libs/explorers/testing/src/lib/mocks/comparison-tool-mocks.ts
  libs/explorers/testing/src/lib/mocks/index.ts
  libs/model-ad/api-client-angular/src/lib/model/comparison-tool-config.ts
  libs/model-ad/api-description/openapi/api-public.openapi.yaml
  libs/model-ad/api-description/openapi/api-service.openapi.yaml
  libs/model-ad/api-description/openapi/openapi.yaml
  libs/model-ad/api-description/src/components/schemas/ComparisonToolConfig.yaml
  libs/model-ad/disease-correlation-comparison-tool/src/lib/disease-correlation-comparison-tool.component.html
  libs/model-ad/disease-correlation-comparison-tool/src/lib/disease-correlation-comparison-tool.component.spec.ts
  libs/model-ad/disease-correlation-comparison-tool/src/lib/disease-correlation-comparison-tool.component.ts
  libs/model-ad/gene-expression-comparison-tool/src/lib/gene-expression-comparison-tool.component.html
  libs/model-ad/gene-expression-comparison-tool/src/lib/gene-expression-comparison-tool.component.spec.ts
  libs/model-ad/gene-expression-comparison-tool/src/lib/gene-expression-comparison-tool.component.ts
  libs/model-ad/model-overview-comparison-tool/src/lib/model-overview-comparison-tool.component.html
  libs/model-ad/model-overview-comparison-tool/src/lib/model-overview-comparison-tool.component.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

chore: update fastapi
  apps/bixarena/ai-service/pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

feat: implement health check
  apps/bixarena/ai-service/bixarena_ai_service/impl/health_check_impl.py
  apps/bixarena/ai-service/tests/test_health_check_impl.py
Owners: @rrchai, @tschaffter

chore: update remaining dependencies
  apps/bixarena/ai-service/pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

chore: set python dependency contraints in root pyproject.toml
  apps/bixarena/ai-service/pyproject.toml
  pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

feat: add task bixarena-ai-service:serve
  apps/bixarena/ai-service/project.json
Owners: @rrchai, @tschaffter

chore: keep core and performance extra dependencies
  apps/bixarena/ai-service/pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

chore: add httpx
  apps/bixarena/ai-service/pyproject.toml
  pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

fix(model-ad) attempt to stablize flaky test (AG-1888)
  apps/model-ad/app/e2e/model-details.spec.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

chore: update welcome message
  apps/openchallenges/mcp-server/src/main/resources/application.yml
Owners: @rrchai, @tschaffter

chore: add constraints to params
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/configuration/AppProperties.java
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/ChallengeContributionService.java
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/ChallengePlatformService.java
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/ChallengeService.java
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/EdamConceptService.java
  apps/openchallenges/mcp-server/src/main/java/org/sagebionetworks/openchallenges/mcp/server/service/OrganizationService.java
Owners: @rrchai, @tschaffter
