Repository Sage-Bionetworks/sage-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tschaffter, @rrchai, @gaiaandreoletti, @Sage-Bionetworks/sage-monorepo-agora

feat: can logout but refresh still show logout button
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApi.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApiDelegate.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApiDelegateImpl.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/configuration/SecurityConfiguration.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/model/dto/Echo200ResponseDto.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/security/SessionAuthenticationFilter.java
  apps/bixarena/api/src/main/resources/application.yml
  apps/bixarena/app/bixarena_app/main.py
  apps/bixarena/app/bixarena_app/page/bixarena_header.py
  libs/bixarena/api-description/openapi/api-public.openapi.yaml
  libs/bixarena/api-description/openapi/api-service.openapi.yaml
  libs/bixarena/api-description/openapi/openapi.yaml
  libs/bixarena/api-description/src/api.openapi.yaml
  libs/bixarena/api-description/src/paths/auth-logout.yaml
Owners: @rrchai, @tschaffter

chore: remove LICENSE
  apps/bixarena/app/LICENSE
Owners: @rrchai, @tschaffter

chore: cleanup
  apps/bixarena/app/bixarena_app/auth/auth_service.py
  apps/bixarena/app/bixarena_app/auth/session_manager.py
  apps/bixarena/app/bixarena_app/main.py
  apps/bixarena/app/bixarena_app/page/bixarena_user.py
Owners: @rrchai, @tschaffter

refactor: use @Slf4j logger
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApiDelegateImpl.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/configuration/FlywayConfiguration.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/security/DiagnosticsFilter.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/security/SessionAuthenticationFilter.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/service/InternalJwtService.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/service/LeaderboardModelHistoryService.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/service/LeaderboardService.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/service/LeaderboardSnapshotService.java
Owners: @rrchai, @tschaffter

chore: remove oauth_client.py
  apps/bixarena/app/bixarena_app/auth/oauth_client.py
Owners: @rrchai, @tschaffter

chore: remove legacy comment from main
  apps/bixarena/app/bixarena_app/main.py
Owners: @rrchai, @tschaffter

chore: remove session manager
  apps/bixarena/app/bixarena_app/auth/session_manager.py
Owners: @rrchai, @tschaffter

refactor: move JwkKeyStore
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApiDelegateImpl.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/security/key/JwkKeyStore.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/service/InternalJwtService.java
Owners: @rrchai, @tschaffter

chore: permit more endpoints until we finalize auth
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/configuration/SecurityConfiguration.java
Owners: @rrchai, @tschaffter

chore: remove oauth client references from the app
  README.md
  apps/bixarena/app/.env.example
  apps/bixarena/app/bixarena_app/auth/auth_service.py
  apps/bixarena/app/bixarena_app/auth/oauth_client.py
  apps/bixarena/app/bixarena_app/main.py
Owners: @tschaffter, @rrchai

refactor: move JwkKeyStore
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApiDelegateImpl.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/configuration/SecurityConfiguration.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/security/keys/JwkKeyStore.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/service/InternalJwtService.java
Owners: @rrchai, @tschaffter

chore: remove last references to oauth from the app
  README.md
  apps/bixarena/app/bixarena_app/auth/session_manager.py
  apps/bixarena/app/bixarena_app/main.py
Owners: @tschaffter, @rrchai

refactor: gradio auth module
  apps/bixarena/app/bixarena_app/auth/auth_service.py
  apps/bixarena/app/bixarena_app/auth/session_store.py
  apps/bixarena/app/bixarena_app/auth/token_client.py
  apps/bixarena/app/bixarena_app/auth/token_store.py
  apps/bixarena/app/bixarena_app/auth/user_state.py
  apps/bixarena/app/bixarena_app/main.py
  apps/bixarena/app/bixarena_app/page/bixarena_user.py
Owners: @rrchai, @tschaffter

fix: login button displayed after logout and refresh
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/AuthApiDelegateImpl.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/api/UtilityApiDelegateImpl.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/security/DiagnosticsFilter.java
  apps/bixarena/api/src/main/java/org/sagebionetworks/bixarena/api/security/SessionAuthenticationFilter.java
  apps/bixarena/app/bixarena_app/main.py
  apps/bixarena/app/bixarena_app/page/bixarena_header.py
Owners: @rrchai, @tschaffter

chore: cleanup
  apps/bixarena/app/bixarena_app/auth/auth_service.py
  apps/bixarena/app/bixarena_app/main.py
  apps/bixarena/app/bixarena_app/page/bixarena_header.py
  apps/bixarena/app/bixarena_app/page/bixarena_user.py
Owners: @rrchai, @tschaffter

chore: add OIDC_BASE_URL
  apps/bixarena/app/.env.example
  apps/bixarena/app/bixarena_app/main.py
Owners: @rrchai, @tschaffter

chore: fix test error
  apps/bixarena/api/src/test/java/org/sagebionetworks/bixarena/api/BixArenaApiApplicationTests.java
  apps/bixarena/api/src/test/resources/application-test.yml
Owners: @rrchai, @tschaffter

test: add app config to application-test.yml
  apps/bixarena/api/src/test/resources/application-test.yml
Owners: @rrchai, @tschaffter

rename service
  libs/explorers/comparison-tools/src/lib/services/comparison-tool-filter.service.spec.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

chore: try another fix
  apps/bixarena/api/src/test/java/org/sagebionetworks/bixarena/api/BixArenaApiApplicationTests.java
Owners: @rrchai, @tschaffter

feat: add project openchallenges-infra-cdk
  apps/openchallenges/infra/cdk/.env.dev.example
  apps/openchallenges/infra/cdk/.env.example
  apps/openchallenges/infra/cdk/.env.prod.example
  apps/openchallenges/infra/cdk/.env.stage.example
  apps/openchallenges/infra/cdk/.gitignore
  apps/openchallenges/infra/cdk/README.md
  apps/openchallenges/infra/cdk/cdk.json
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/__init__.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/app.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/ecs_stack.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/load_balancer_stack.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/main.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/network_stack.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/service_props.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/service_stack.py
  apps/openchallenges/infra/cdk/project.json
  apps/openchallenges/infra/cdk/pyproject.toml
  apps/openchallenges/infra/cdk/tests/__init__.py
  apps/openchallenges/infra/cdk/tests/conftest.py
  apps/openchallenges/infra/cdk/tests/test_network_stack.py
  apps/openchallenges/infra/cdk/tests/test_service_stack.py
  pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

infra(openchallenges): bootstrap the CDK app for OpenChallenges (#3573)
  apps/openchallenges/infra/cdk/.env.dev.example
  apps/openchallenges/infra/cdk/.env.example
  apps/openchallenges/infra/cdk/.env.prod.example
  apps/openchallenges/infra/cdk/.env.stage.example
  apps/openchallenges/infra/cdk/.gitignore
  apps/openchallenges/infra/cdk/README.md
  apps/openchallenges/infra/cdk/cdk.json
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/__init__.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/app.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/ecs_stack.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/load_balancer_stack.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/main.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/network_stack.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/service_props.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/service_stack.py
  apps/openchallenges/infra/cdk/project.json
  apps/openchallenges/infra/cdk/pyproject.toml
  apps/openchallenges/infra/cdk/tests/__init__.py
  apps/openchallenges/infra/cdk/tests/conftest.py
  apps/openchallenges/infra/cdk/tests/test_network_stack.py
  apps/openchallenges/infra/cdk/tests/test_service_stack.py
  pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

add instruction to setup mcp server
  apps/openchallenges/mcp-server/README.md
Owners: @rrchai, @tschaffter

update the image version of standalone mcp server
  docker/openchallenges/services/mcp-server-standalone.yml
Owners: @tschaffter

update the image version of standalone mcp server
  apps/openchallenges/mcp-server/README.md
  docker/openchallenges/services/mcp-server-standalone.yml
Owners: @rrchai, @tschaffter

update instructions to use /sse instead of streamable http
  apps/openchallenges/mcp-server/README.md
  docker/openchallenges/services/mcp-server-standalone.yml
Owners: @rrchai, @tschaffter

chore(synapse): update Synapse API description and generated artifacts
  apps/bixarena/infra/cdk/.envprod
  apps/openchallenges/infra/cdk/.envprod
Owners: @rrchai, @tschaffter

feat(openchallenges): add setup instructions to MCP Server README (#3575)
  apps/openchallenges/mcp-server/README.md
  docker/openchallenges/services/mcp-server-standalone.yml
Owners: @rrchai, @tschaffter

fix: fix typo when creating two `.env.prod`
  apps/bixarena/infra/cdk/project.json
  apps/openchallenges/infra/cdk/project.json
Owners: @rrchai, @tschaffter

fix: fix typo when creating two `.env.prod` (#3577)
  apps/bixarena/infra/cdk/project.json
  apps/openchallenges/infra/cdk/project.json
Owners: @rrchai, @tschaffter

feat: create project platform-infra-cdk-common
  libs/platform/infra/cdk/common/README.md
  libs/platform/infra/cdk/common/platform_infra_cdk_common/__init__.py
  libs/platform/infra/cdk/common/platform_infra_cdk_common/hello.py
  libs/platform/infra/cdk/common/project.json
  libs/platform/infra/cdk/common/pyproject.toml
  libs/platform/infra/cdk/common/tests/__init__.py
  libs/platform/infra/cdk/common/tests/conftest.py
  libs/platform/infra/cdk/common/tests/test_hello.py
  pyproject.toml
  uv.lock
Owners: @tschaffter

chore: add infra-cdk apps to root uv workspace
  apps/bixarena/infra/cdk/bixarena_infra_cdk/app.py
  apps/bixarena/infra/cdk/pyproject.toml
  apps/openchallenges/infra/cdk/pyproject.toml
  pyproject.toml
  uv.lock
Owners: @rrchai, @tschaffter

chore: add constant to cdk lib
  apps/bixarena/infra/cdk/bixarena_infra_cdk/app.py
  apps/openchallenges/infra/cdk/openchallenges_infra_cdk/app.py
  libs/platform/infra/cdk/common/platform_infra_cdk_common/constants.py
  libs/platform/infra/cdk/common/platform_infra_cdk_common/hello.py
  libs/platform/infra/cdk/common/tests/test_constants.py
  libs/platform/infra/cdk/common/tests/test_hello.py
Owners: @rrchai, @tschaffter

code cleanup
  libs/explorers/comparison-tools/src/lib/comparison-tool-search-input/comparison-tool-search-input.component.html
  libs/explorers/comparison-tools/src/lib/comparison-tool-search-input/comparison-tool-search-input.component.ts
  libs/explorers/comparison-tools/src/lib/services/comparison-tool-filter.service.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

remove redundant tests
  libs/explorers/comparison-tools/src/lib/services/comparison-tool-filter.service.spec.ts
Owners: @Sage-Bionetworks/sage-monorepo-agora

.github/CODEOWNERS:

* @tschaffter

# Repository administration
/.devcontainer @tschaffter
/.github @tschaffter
/.vscode @tschaffter
/.yarn @tschaffter

# BixArena
/apps/bixarena/ @rrchai @tschaffter
/libs/bixarena/ @rrchai @tschaffter
/docker/bixarena/ @rrchai @tschaffter

# OpenChallenges
/apps/openchallenges/ @rrchai @tschaffter
/libs/openchallenges/ @rrchai @tschaffter

## DB content
/apps/openchallenges/challenge-service/src/main/resources/db/     @tschaffter @gaiaandreoletti
/apps/openchallenges/organization-service/src/main/resources/db/  @tschaffter @gaiaandreoletti

## Sage
/apps/sage/ @tschaffter
/libs/sage/ @tschaffter

/apps/agora/ @Sage-Bionetworks/sage-monorepo-agora
/libs/agora/ @Sage-Bionetworks/sage-monorepo-agora
/.github/workflows/e2e-agora.yaml @Sage-Bionetworks/sage-monorepo-agora

/libs/shared/ @tschaffter

/apps/model-ad/ @Sage-Bionetworks/sage-monorepo-agora
/docker/model-ad/ @Sage-Bionetworks/sage-monorepo-agora
/libs/model-ad/ @Sage-Bionetworks/sage-monorepo-agora
/libs/results-visualization-framework/ @Sage-Bionetworks/sage-monorepo-agora

/libs/explorers/ @Sage-Bionetworks/sage-monorepo-agora

/libs/synapse/ @Sage-Bionetworks/sage-monorepo-agora
