Repository Sage-Bionetworks/sage-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tschaffter, @rrchai, @vpchung, @linglp, @andrewelamb

feat(ui): Hide user related widgets across app (#1915)
  apps/openchallenges/app/src/app/app-routing.module.ts
  libs/openchallenges/challenge/src/lib/challenge.component.html
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.html
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.scss
  libs/openchallenges/ui/src/lib/challenge-card/challenge-card.component.html
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.html
Owners: @tschaffter, @rrchai, @vpchung

Add Tag Manager code to header
  apps/openchallenges/app/src/index.html
Owners: @tschaffter, @rrchai, @vpchung

add default text when array is empty
  libs/openchallenges/challenge/src/lib/_challenge-theme.scss
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.html
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.ts
  libs/openchallenges/challenge/src/lib/challenge-organizers/challenge-organizers.component.html
Owners: @tschaffter, @rrchai, @vpchung

Pack together the members and add bmargin below team
  libs/openchallenges/team/src/lib/team.component.scss
Owners: @tschaffter, @rrchai, @vpchung

Add Google Tag Manager
  apps/openchallenges/app/src/index.html
Owners: @tschaffter, @rrchai, @vpchung

return empty string url if image service is down
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.ts
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.ts
  libs/openchallenges/home/src/lib/challenge-host-list/challenge-host-list.component.ts
  libs/openchallenges/org-profile/src/lib/org-profile.component.ts
  libs/openchallenges/org-search/src/lib/org-search.component.ts
Owners: @tschaffter, @rrchai, @vpchung

Update libs/openchallenges/team/src/lib/team.component.html
  libs/openchallenges/team/src/lib/team.component.html
Owners: @tschaffter, @rrchai, @vpchung

fix failed test on org-card
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.spec.ts
Owners: @tschaffter, @rrchai, @vpchung

change image size back
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.ts
  libs/openchallenges/org-profile/src/lib/org-profile.component.ts
Owners: @tschaffter, @rrchai, @vpchung

RRemove maria Linkedin
  libs/openchallenges/team/src/lib/team.component.html
Owners: @tschaffter, @rrchai, @vpchung

remove row col in parent tag of car-group
  libs/openchallenges/org-profile/src/lib/org-profile-challenges/org-profile-challenges.component.html
  libs/openchallenges/user-profile/src/lib/user-profile-challenges/user-profile-challenges.component.html
Owners: @tschaffter, @rrchai, @vpchung

clean up
  libs/openchallenges/org-search/src/lib/org-search.component.ts
Owners: @tschaffter, @rrchai, @vpchung

docs: Update the Team page (#1919)
  libs/openchallenges/team/src/lib/team.component.html
  libs/openchallenges/team/src/lib/team.component.scss
  libs/shared/typescript/assets/src/assets/images/github-logo.svg
  libs/shared/typescript/assets/src/assets/images/linkedin-logo.svg
Owners: @tschaffter, @rrchai, @vpchung

Update libs/openchallenges/challenge-search/src/lib/challenge-search.component.ts
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.ts
Owners: @tschaffter, @rrchai, @vpchung

Update libs/openchallenges/home/src/lib/challenge-host-list/challenge-host-list.component.ts
  libs/openchallenges/home/src/lib/challenge-host-list/challenge-host-list.component.ts
Owners: @tschaffter, @rrchai, @vpchung

Update libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.ts
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.ts
Owners: @tschaffter, @rrchai, @vpchung

Update libs/openchallenges/org-profile/src/lib/org-profile.component.ts
  libs/openchallenges/org-profile/src/lib/org-profile.component.ts
Owners: @tschaffter, @rrchai, @vpchung

Add prod cert
  apps/openchallenges/infra/src/cnb-dev-stack.ts
  apps/openchallenges/infra/src/dns/cnb-dev-dns.ts
Owners: @tschaffter, @rrchai, @vpchung

Fix typo
  apps/openchallenges/infra/src/cnb-dev-stack.ts
Owners: @tschaffter, @rrchai, @vpchung

feat(ui): Make width of challenge and org cards consistent (#1921)
  libs/openchallenges/org-profile/src/lib/org-profile-challenges/org-profile-challenges.component.html
  libs/openchallenges/styles/src/lib/_general.scss
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.scss
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.spec.ts
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.ts
  libs/openchallenges/user-profile/src/lib/user-profile-challenges/user-profile-challenges.component.html
Owners: @tschaffter, @rrchai, @vpchung

Keep a single cert
  apps/openchallenges/infra/src/cnb-dev-stack.ts
  apps/openchallenges/infra/src/dns/cnb-dev-dns.ts
Owners: @tschaffter, @rrchai, @vpchung

Remove GTM from index.html
  apps/openchallenges/app/src/index.html
Owners: @tschaffter, @rrchai, @vpchung

fix: Use default avatar if image service is down (#1924)
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.ts
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.ts
  libs/openchallenges/home/src/lib/challenge-host-list/challenge-host-list.component.ts
  libs/openchallenges/org-profile/src/lib/org-profile.component.ts
  libs/openchallenges/org-search/src/lib/org-search.component.ts
Owners: @tschaffter, @rrchai, @vpchung

Undo changes
  apps/openchallenges/infra/src/cnb-dev-stack.ts
  apps/openchallenges/infra/src/dns/cnb-dev-dns.ts
Owners: @tschaffter, @rrchai, @vpchung

More undo
  apps/openchallenges/infra/src/cnb-dev-stack.ts
Owners: @tschaffter, @rrchai, @vpchung

Fix stack after forgetting initial cert
  apps/openchallenges/infra/src/cnb-dev-stack.ts
  apps/openchallenges/infra/src/dns/cnb-dev-dns.ts
Owners: @tschaffter, @rrchai, @vpchung

Fix tag
  docker/openchallenges/services/api-docs.yml
Owners: @tschaffter

Fix tag (#1927)
  docker/openchallenges/services/api-docs.yml
Owners: @tschaffter

add default text when array is empty (#1922)
  libs/openchallenges/challenge/src/lib/_challenge-theme.scss
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.html
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.ts
  libs/openchallenges/challenge/src/lib/challenge-organizers/challenge-organizers.component.html
Owners: @tschaffter, @rrchai, @vpchung

feat: Add ACM certificate for OC prod DNS (#1925)
  apps/openchallenges/infra/src/cnb-dev-stack.ts
  apps/openchallenges/infra/src/dns/cnb-dev-dns.ts
Owners: @tschaffter, @rrchai, @vpchung

Remove Amy from the Team page
  libs/openchallenges/team/src/lib/team.component.html
Owners: @tschaffter, @rrchai, @vpchung

replace auto-fit by auto-fill
  libs/openchallenges/styles/src/lib/_general.scss
  libs/openchallenges/ui/src/lib/challenge-card/challenge-card.component.scss
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.scss
Owners: @tschaffter, @rrchai, @vpchung

remove justify-items in home since not needed anymore
  libs/openchallenges/home/src/lib/challenge-host-list/challenge-host-list.component.scss
  libs/openchallenges/home/src/lib/featured-challenge-list/featured-challenge-list.component.scss
Owners: @tschaffter, @rrchai, @vpchung

add new endpoint
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/components/parameters/path/relationshipType.yaml
  libs/schematic/api-description/src/components/schemas/Relationship.yaml
  libs/schematic/api-description/src/components/schemas/RelationshipType.yaml
  libs/schematic/api-description/src/components/schemas/RelationshipsPage.yaml
  libs/schematic/api-description/src/openapi.yaml
  libs/schematic/api-description/src/paths/relationships/@{relationshipType}/relationships.yaml
Owners: @linglp, @andrewelamb

add media for card-group
  libs/openchallenges/styles/src/lib/_general.scss
  libs/openchallenges/ui/src/lib/challenge-card/challenge-card.component.scss
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.scss
Owners: @tschaffter, @rrchai, @vpchung

update spacing for person card
  libs/openchallenges/challenge/src/lib/challenge-organizers/challenge-organizers.component.scss
  libs/openchallenges/org-profile/src/lib/org-profile-members/org-profile-members.component.scss
Owners: @tschaffter, @rrchai, @vpchung

move description out of conditional container
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.html
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.scss
  libs/openchallenges/challenge/src/lib/challenge-organizers/challenge-organizers.component.html
  libs/openchallenges/challenge/src/lib/challenge-organizers/challenge-organizers.component.scss
  libs/openchallenges/org-profile/src/lib/_org-profile-theme.scss
  libs/openchallenges/org-profile/src/lib/org-profile-members/org-profile-members.component.html
  libs/openchallenges/org-profile/src/lib/org-profile-members/org-profile-members.component.scss
Owners: @tschaffter, @rrchai, @vpchung

Remove Amy from the Team page (#1930)
  libs/openchallenges/team/src/lib/team.component.html
Owners: @tschaffter, @rrchai, @vpchung

comment out statistic section
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.html
  libs/openchallenges/home/src/lib/statistics-viewer/statistics-viewer.component.scss
Owners: @tschaffter, @rrchai, @vpchung

add new endpoint
  apps/schematic/api/.openapi-generator/FILES
  apps/schematic/api/schematic_api/controllers/schema_controller.py
  apps/schematic/api/schematic_api/controllers/schema_controller_impl.py
  apps/schematic/api/schematic_api/models/__init__.py
  apps/schematic/api/schematic_api/models/relationship.py
  apps/schematic/api/schematic_api/models/relationships_page.py
  apps/schematic/api/schematic_api/models/relationships_page_all_of.py
  apps/schematic/api/schematic_api/openapi/openapi.yaml
Owners: @linglp, @andrewelamb

.github/CODEOWNERS:

* @tschaffter

/apps/openchallenges/ @tschaffter @rrchai @vpchung
/libs/openchallenges/ @tschaffter @rrchai @vpchung

/apps/schematic/ @linglp @andrewelamb
/libs/schematic/ @linglp @andrewelamb

/libs/shared/ @tschaffter
