Repository Sage-Bionetworks/sage-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tschaffter, @rrchai, @vpchung, @gaiaandreoletti, @andrewelamb, @GiaJordan, @linglp, @mialy-defelice, @milen-sage, @lakikowolfe, @afwillia, @Sage-Bionetworks/sage-monorepo-agora

.github/CODEOWNERS:

* @tschaffter

/apps/openchallenges/ @rrchai @tschaffter @vpchung
/libs/openchallenges/ @rrchai @tschaffter @vpchung

# OC DB content
/apps/openchallenges/challenge-service/src/main/resources/db/     @tschaffter @vpchung @gaiaandreoletti
/apps/openchallenges/organization-service/src/main/resources/db/  @tschaffter @vpchung @gaiaandreoletti

# Schematic
/apps/schematic/ @andrewelamb @GiaJordan @linglp @mialy-defelice @milen-sage
/libs/schematic/ @andrewelamb @GiaJordan @linglp @mialy-defelice @milen-sage
/libs/schematic/api-client-r/ @andrewelamb @lakikowolfe @afwillia

/apps/agora/ @Sage-Bionetworks/sage-monorepo-agora
/libs/agora/ @Sage-Bionetworks/sage-monorepo-agora

/libs/shared/ @tschaffter

feat(schematic): fds-1688 add endpoints that return files (#2500)
  apps/schematic/api/schematic_api/controllers/storage_controller.py
  apps/schematic/api/schematic_api/controllers/storage_controller_impl.py
  apps/schematic/api/schematic_api/openapi/openapi.yaml
  apps/schematic/api/schematic_api/test/test_storage_controller_endpoints.py
  apps/schematic/api/schematic_api/test/test_storage_controller_endpoints2.py
  apps/schematic/api/schematic_api/test/test_storage_controller_impl.py
  apps/schematic/api/schematic_api/test/test_synapse_endpoints.py
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/openapi.yaml
  libs/schematic/api-description/src/paths/assetTypes/@{assetType}/assetViews/@{assetViewId}/csv.yaml
  libs/schematic/api-description/src/paths/assetTypes/@{assetType}/datasets/@{datasetId}/manifestCsv.yaml
  libs/schematic/api-description/src/paths/assetTypes/@{assetType}/manifests/@{manifestId}/csv.yaml
Owners: @andrewelamb, @GiaJordan, @linglp, @mialy-defelice, @milen-sage

feat(schematic): udate conftest datamodel from develop to main
  apps/schematic/api/schematic_api/test/conftest.py
Owners: @andrewelamb, @GiaJordan, @linglp, @mialy-defelice, @milen-sage

update datasets overview
  apps/iatlas/app/R/ici_overview_functions.R
  apps/iatlas/app/R/ici_overview_ui.R
Owners: @tschaffter

update datasets overview
  R/ici_overview_functions.R
  R/ici_overview_ui.R
Owners: @tschaffter

improve UMAP viewer
  apps/iatlas/app/R/sc_umap_server.R
Owners: @tschaffter

improve UMAP viewer
  R/sc_umap_server.R
Owners: @tschaffter

update clinical info for sc datasets
  apps/iatlas/app/R/sc_immune_features_distribution_server.R
  apps/iatlas/app/inst/feather/sc_clinical.feather
Owners: @tschaffter

update clinical info for sc datasets
  R/sc_immune_features_distribution_server.R
  inst/feather/sc_clinical.feather
Owners: @tschaffter

upgraded to schematic 24.1.1
  apps/schematic/api/poetry.lock
  apps/schematic/api/pyproject.toml
  apps/schematic/api/schematic_api/controllers/manifest_generation_controller_impl.py
  apps/schematic/api/schematic_api/controllers/schema_controller.py
  apps/schematic/api/schematic_api/controllers/schema_controller_impl.py
  apps/schematic/api/schematic_api/openapi/openapi.yaml
  apps/schematic/api/schematic_api/test/test_manifest_generation_controller_impl.py
  apps/schematic/api/schematic_api/test/test_manifest_generation_endpoints.py
  apps/schematic/api/schematic_api/test/test_schema_controller_endpoints.py
  apps/schematic/api/schematic_api/test/test_schema_controller_impl.py
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/paths/nodes/@{nodeDisplay}/propertyLabel.yaml
Owners: @andrewelamb, @GiaJordan, @linglp, @mialy-defelice, @milen-sage

add support to run sonar on official branches
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

chore(sage-monorepo): add support to run Sonar on Sage Monorepo branches (#2516)
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

patch Sonar GitHub workflow
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

try to group condition
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

move conditions to if
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

group conditions
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

enclosein ${{ }}
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

comment check
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

restore first step
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

chore(sage-monorepo): patch Sonar GitHub workflow (#2517)
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

update step name for upstream branches
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

update job name to be more descriptive
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

chore(sage-monorepo): fix Sonar workflow job names (#2518)
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

run Sonar only on affected project again
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

chore(sage-monorepo): run Sonar only on affected projects again (#2519)
  .github/workflows/sonar-scan.yml
Owners: @tschaffter

add links for umap visualizations on cellxgene
  R/sc_module_ui.R
  R/sc_umap_server.R
  R/sc_umap_ui.R
Owners: @tschaffter

add links for umap visualizations on cellxgene
  apps/iatlas/app/R/sc_module_ui.R
  apps/iatlas/app/R/sc_umap_server.R
  apps/iatlas/app/R/sc_umap_ui.R
Owners: @tschaffter

add links for umap visualizations on cellxgene
  R/sc_module_server.R
  R/sc_module_ui.R
  R/sc_umap_server.R
  R/sc_umap_ui.R
  inst/tsv/module_config.tsv
Owners: @tschaffter

add links for umap visualizations on cellxgene
  apps/iatlas/app/R/sc_module_server.R
  apps/iatlas/app/R/sc_module_ui.R
  apps/iatlas/app/R/sc_umap_server.R
  apps/iatlas/app/R/sc_umap_ui.R
  apps/iatlas/app/inst/tsv/module_config.tsv
Owners: @tschaffter

add dataset selection for single cell modules
  apps/iatlas/app/R/sc_immune_features_distribution_server.R
  apps/iatlas/app/R/sc_immune_features_distribution_ui.R
  apps/iatlas/app/R/sc_immunomodulators_server.R
  apps/iatlas/app/R/sc_immunomodulators_ui.R
  apps/iatlas/app/R/sc_umap_server.R
  apps/iatlas/app/R/sc_umap_ui.R
Owners: @tschaffter

add dataset selection for single cell modules
  R/sc_immune_features_distribution_server.R
  R/sc_immune_features_distribution_ui.R
  R/sc_immunomodulators_server.R
  R/sc_immunomodulators_ui.R
  R/sc_umap_server.R
  R/sc_umap_ui.R
Owners: @tschaffter

add EDAM concept SQL table
  apps/openchallenges/challenge-service/src/main/resources/db/edam_concept.csv
  apps/openchallenges/challenge-service/src/main/resources/db/migration/V1.0.0__create_tables.sql
  apps/openchallenges/challenge-service/src/main/resources/db/migration/V1.0.1__insert_temp_data.sql
Owners: @tschaffter, @vpchung, @gaiaandreoletti

load EDAM table when the challenge service starts
  apps/openchallenges/challenge-service/src/main/resources/application.yml
  docker/openchallenges/services/challenge-service.yml
Owners: @rrchai, @tschaffter, @vpchung

remove created_at and updated_at columns because set to NULL
  apps/openchallenges/challenge-service/src/main/resources/db/migration/V1.0.0__create_tables.sql
Owners: @tschaffter, @vpchung, @gaiaandreoletti

fix the preferred label of Molecular mass
  apps/openchallenges/challenge-service/src/main/resources/db/edam_concept.csv
Owners: @tschaffter, @vpchung, @gaiaandreoletti

add docs about co-authors
  docs/developers-guide/co-author.md
Owners: @tschaffter

decapitalize section titles
  docs/developers-guide/co-author.md
Owners: @tschaffter

create initial project `openchallenges-edam-etl`
  apps/openchallenges/edam-etl/.dockerignore
  apps/openchallenges/edam-etl/.env.example
  apps/openchallenges/edam-etl/.gitignore
  apps/openchallenges/edam-etl/.python-version
  apps/openchallenges/edam-etl/Dockerfile
  apps/openchallenges/edam-etl/README.md
  apps/openchallenges/edam-etl/docker-entrypoint.sh
  apps/openchallenges/edam-etl/poetry.toml
  apps/openchallenges/edam-etl/prepare-python.sh
  apps/openchallenges/edam-etl/project.json
  apps/openchallenges/edam-etl/pyproject.toml
  apps/openchallenges/edam-etl/src/__init__.py
  apps/openchallenges/edam-etl/src/main.py
Owners: @rrchai, @tschaffter, @vpchung

review prepare and serve tasks
  apps/openchallenges/edam-etl/.python-version
  apps/openchallenges/edam-etl/Dockerfile
  apps/openchallenges/edam-etl/poetry.lock
  apps/openchallenges/edam-etl/prepare-python.sh
  apps/openchallenges/edam-etl/project.json
  apps/openchallenges/edam-etl/pyproject.toml
  apps/openchallenges/edam-etl/src/main.py
Owners: @rrchai, @tschaffter, @vpchung

fix build-image task
  apps/openchallenges/edam-etl/pyproject.toml
Owners: @rrchai, @tschaffter, @vpchung

fix the docker image
  apps/openchallenges/edam-etl/Dockerfile
Owners: @rrchai, @tschaffter, @vpchung
