Repository Sage-Bionetworks/sage-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tschaffter, @rrchai, @vpchung, @linglp, @andrewelamb

Redirect ALB port 80 to 443
  apps/openchallenges/infra/src/preview-instance-alb/preview-instance-alb.ts
Owners: @tschaffter, @rrchai, @vpchung

move filter faucet to the most left
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.html
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.scss
  libs/openchallenges/styles/src/lib/_general.scss
Owners: @tschaffter, @rrchai, @vpchung

Revert "move filter faucet to the most left"
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.html
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.scss
  libs/openchallenges/styles/src/lib/_general.scss
Owners: @tschaffter, @rrchai, @vpchung

narrow filter facet to allow 3 cards per row at 1440px
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.html
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.scss
  libs/openchallenges/styles/src/lib/_general.scss
Owners: @tschaffter, @rrchai, @vpchung

Remove openchallenges-minio
  apps/openchallenges/minio/.env.example
  apps/openchallenges/minio/Dockerfile
  apps/openchallenges/minio/project.json
Owners: @tschaffter, @rrchai, @vpchung

Remove references to MinIO
  .devcontainer/devcontainer.json
  docker/openchallenges/services/minio.yml
  docker/openchallenges/volumes.yml
  tools/configure-hostnames.sh
Owners: @tschaffter

Remove references to MinIO
  apps/openchallenges/thumbor/README.md
  docker/openchallenges/serve-detach.sh
Owners: @tschaffter, @rrchai, @vpchung

Remove OC DB CLI
  apps/openchallenges/db-cli/.eslintrc.json
  apps/openchallenges/db-cli/README.md
  apps/openchallenges/db-cli/data/seeds/dev/challenges/01-challenge_platform.json
  apps/openchallenges/db-cli/data/seeds/dev/challenges/02-challenge.json
  apps/openchallenges/db-cli/data/seeds/dev/challenges/_create.txt
  apps/openchallenges/db-cli/data/seeds/dev/challenges/challenge_contribution.json
  apps/openchallenges/db-cli/data/seeds/dev/challenges/challenge_incentive.json
  apps/openchallenges/db-cli/data/seeds/dev/challenges/challenge_submission_type.json
  apps/openchallenges/db-cli/data/seeds/dev/organizations/_create.txt
  apps/openchallenges/db-cli/data/seeds/dev/organizations/challenge_contribution.json
  apps/openchallenges/db-cli/data/seeds/dev/organizations/challenge_organization.json
  apps/openchallenges/db-cli/data/seeds/dev/users.json
  apps/openchallenges/db-cli/data/seeds/prod/challengeOrganizers.json
  apps/openchallenges/db-cli/data/seeds/prod/challengePlatforms.json
  apps/openchallenges/db-cli/data/seeds/prod/challengeReadmes.json
  apps/openchallenges/db-cli/data/seeds/prod/challengeSponsors.json
  apps/openchallenges/db-cli/data/seeds/prod/challenges.json
  apps/openchallenges/db-cli/data/seeds/prod/orgMemberships.json
  apps/openchallenges/db-cli/data/seeds/prod/organizations.json
  apps/openchallenges/db-cli/data/seeds/prod/users.json
  apps/openchallenges/db-cli/jest.config.ts
  apps/openchallenges/db-cli/package.json
  apps/openchallenges/db-cli/project.json
  apps/openchallenges/db-cli/src/app.ts
  apps/openchallenges/db-cli/src/config.ts
  apps/openchallenges/db-cli/src/database.ts
  apps/openchallenges/db-cli/src/index.ts
  apps/openchallenges/db-cli/src/logger.ts
  apps/openchallenges/db-cli/src/util.ts
  apps/openchallenges/db-cli/tsconfig.app.json
  apps/openchallenges/db-cli/tsconfig.json
  apps/openchallenges/db-cli/tsconfig.spec.json
Owners: @tschaffter, @rrchai, @vpchung

Remove references to OC DB CLI
  .github/renovate.json
  .vscode/settings.json
  dev-env.sh
Owners: @tschaffter

change to open dropdown on the right
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.scss
  libs/openchallenges/ui/src/lib/search-dropdown-filter/search-dropdown-filter.component.scss
Owners: @tschaffter, @rrchai, @vpchung

Remove references to OC DB CLI
  docs/legacy-repositories.md
Owners: @tschaffter

set title of challenge card fix height to align cards
  libs/openchallenges/styles/src/lib/_general.scss
Owners: @tschaffter, @rrchai, @vpchung

collapse categories filter
  libs/openchallenges/challenge-search/src/lib/challenge-search-filters.ts
Owners: @tschaffter, @rrchai, @vpchung

Remove OC bot project
  apps/openchallenges/bot/.env.example
  apps/openchallenges/bot/.eslintrc.json
  apps/openchallenges/bot/.gitignore
  apps/openchallenges/bot/Dockerfile
  apps/openchallenges/bot/LICENSE.md
  apps/openchallenges/bot/README.md
  apps/openchallenges/bot/app.yml
  apps/openchallenges/bot/docs/challenge-bot-dev-us-east-1-policy.json
  apps/openchallenges/bot/jest.config.ts
  apps/openchallenges/bot/package.json
  apps/openchallenges/bot/project.json.off
  apps/openchallenges/bot/serverless.yml
  apps/openchallenges/bot/src/build-challenge-app.ts
  apps/openchallenges/bot/src/challenge-app.ts
  apps/openchallenges/bot/src/lambda/handler.ts
  apps/openchallenges/bot/src/run-challenge-app.ts
  apps/openchallenges/bot/src/server/server.ts
  apps/openchallenges/bot/test/app.spec.ts.off
  apps/openchallenges/bot/test/challenge-app.spec.ts
  apps/openchallenges/bot/test/fixtures/issues.opened.json
  apps/openchallenges/bot/tmp/.dockerignore
  apps/openchallenges/bot/tmp/CONTRIBUTING.md
  apps/openchallenges/bot/tmp/jest.config.js
  apps/openchallenges/bot/tmp/package.json
  apps/openchallenges/bot/tmp/tsconfig.json
  apps/openchallenges/bot/tsconfig.app.json
  apps/openchallenges/bot/tsconfig.json
  apps/openchallenges/bot/tsconfig.spec.json
  apps/openchallenges/bot/yarn.lock
Owners: @tschaffter, @rrchai, @vpchung

Remove OC bot project (#1884)
  apps/openchallenges/bot/.env.example
  apps/openchallenges/bot/.eslintrc.json
  apps/openchallenges/bot/.gitignore
  apps/openchallenges/bot/Dockerfile
  apps/openchallenges/bot/LICENSE.md
  apps/openchallenges/bot/README.md
  apps/openchallenges/bot/app.yml
  apps/openchallenges/bot/docs/challenge-bot-dev-us-east-1-policy.json
  apps/openchallenges/bot/jest.config.ts
  apps/openchallenges/bot/package.json
  apps/openchallenges/bot/project.json.off
  apps/openchallenges/bot/serverless.yml
  apps/openchallenges/bot/src/build-challenge-app.ts
  apps/openchallenges/bot/src/challenge-app.ts
  apps/openchallenges/bot/src/lambda/handler.ts
  apps/openchallenges/bot/src/run-challenge-app.ts
  apps/openchallenges/bot/src/server/server.ts
  apps/openchallenges/bot/test/app.spec.ts.off
  apps/openchallenges/bot/test/challenge-app.spec.ts
  apps/openchallenges/bot/test/fixtures/issues.opened.json
  apps/openchallenges/bot/tmp/.dockerignore
  apps/openchallenges/bot/tmp/CONTRIBUTING.md
  apps/openchallenges/bot/tmp/jest.config.js
  apps/openchallenges/bot/tmp/package.json
  apps/openchallenges/bot/tmp/tsconfig.json
  apps/openchallenges/bot/tsconfig.app.json
  apps/openchallenges/bot/tsconfig.json
  apps/openchallenges/bot/tsconfig.spec.json
  apps/openchallenges/bot/yarn.lock
Owners: @tschaffter, @rrchai, @vpchung

add org-search as well
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.scss
  libs/openchallenges/org-search/src/lib/org-search.component.html
  libs/openchallenges/org-search/src/lib/org-search.component.scss
Owners: @tschaffter, @rrchai, @vpchung

fix header
  libs/openchallenges/challenge-search/src/lib/_challenge-search-theme.scss
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.html
  libs/openchallenges/org-search/src/lib/_org-search-theme.scss
  libs/openchallenges/styles/src/lib/_general.scss
Owners: @tschaffter, @rrchai, @vpchung

Revert "fix header"
  libs/openchallenges/challenge-search/src/lib/_challenge-search-theme.scss
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.html
  libs/openchallenges/org-search/src/lib/_org-search-theme.scss
  libs/openchallenges/styles/src/lib/_general.scss
Owners: @tschaffter, @rrchai, @vpchung

clean up
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.scss
  libs/openchallenges/org-search/src/lib/org-search.component.scss
Owners: @tschaffter, @rrchai, @vpchung

add angular to get contributions
  libs/openchallenges/challenge/src/lib/challenge-sponsors/challenge-sponsors.component.html
  libs/openchallenges/challenge/src/lib/challenge-sponsors/challenge-sponsors.component.ts
Owners: @tschaffter, @rrchai, @vpchung

feat(UI): Set 3 challenge cards per row for MBP 13'' viewpoint. (#1878)
  libs/openchallenges/challenge-search/src/lib/challenge-search-filters.ts
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.html
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.scss
  libs/openchallenges/org-search/src/lib/org-search.component.html
  libs/openchallenges/org-search/src/lib/org-search.component.scss
  libs/openchallenges/styles/src/lib/_general.scss
  libs/openchallenges/ui/src/lib/search-dropdown-filter/search-dropdown-filter.component.scss
Owners: @tschaffter, @rrchai, @vpchung

move schemaUrl from path to query
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/components/parameters/path/schemaUrl.yaml
  libs/schematic/api-description/src/openapi.yaml
  libs/schematic/api-description/src/paths/components/@{componentLabel}/attributes.yaml
Owners: @linglp, @andrewelamb

move schemaUrl from path to query
  apps/schematic/api/.openapi-generator/FILES
  apps/schematic/api/schematic_api/controllers/security_controller_.py
  apps/schematic/api/schematic_api/controllers/storage_controller.py
  apps/schematic/api/schematic_api/openapi/openapi.yaml
  apps/schematic/api/schematic_api/test/__init__.py
  apps/schematic/api/schematic_api/typing_utils.py
  apps/schematic/api/schematic_api/util.py
Owners: @linglp, @andrewelamb

move schemaUrl from path to query
  apps/schematic/api/schematic_api/controllers/security_controller_.py
  apps/schematic/api/schematic_api/controllers/storage_controller.py
  apps/schematic/api/schematic_api/test/__init__.py
  apps/schematic/api/schematic_api/typing_utils.py
  apps/schematic/api/schematic_api/util.py
Owners: @linglp, @andrewelamb

upgrade primeng
  package.json
  yarn.lock
Owners: @tschaffter

fix tests, moved scheUrl from path to query
  apps/schematic/api/schematic_api/test/test_schema_controller_endpoints.py
Owners: @linglp, @andrewelamb

add angular to get contributions
  libs/openchallenges/challenge/src/lib/challenge-sponsors/challenge-sponsors.component.html
  libs/openchallenges/challenge/src/lib/challenge-sponsors/challenge-sponsors.component.ts
Owners: @tschaffter, @rrchai, @vpchung

change orgId t o string
  libs/openchallenges/challenge/src/lib/challenge-sponsors/challenge-sponsors.component.ts
Owners: @tschaffter, @rrchai, @vpchung

replace sponsors with contributors
  libs/openchallenges/challenge/src/_lib-theme.scss
  libs/openchallenges/challenge/src/lib/challenge-contributors/_challenge-contributors-theme.scss
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.html
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.scss
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.spec.ts.off
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.ts
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.module.ts
  libs/openchallenges/challenge/src/lib/challenge-sponsors/challenge-sponsors.component.scss
  libs/openchallenges/challenge/src/lib/challenge-sponsors/challenge-sponsors.component.spec.ts.off
  libs/openchallenges/challenge/src/lib/challenge-sponsors/challenge-sponsors.module.ts
  libs/openchallenges/challenge/src/lib/challenge-tabs.ts
  libs/openchallenges/challenge/src/lib/challenge.component.html
  libs/openchallenges/challenge/src/lib/challenge.module.ts
Owners: @tschaffter, @rrchai, @vpchung

fix URL
  apps/schematic/api/schematic_api/test/test_schema_controller_endpoints.py
Owners: @linglp, @andrewelamb

chnage to newest schematic version
  apps/schematic/api/schematic_api/controllers/storage_controller_impl.py
Owners: @linglp, @andrewelamb

chnage to newest schematic version
  apps/schematic/api/schematic_api/controllers/storage_controller_impl.py
Owners: @linglp, @andrewelamb

update org card component
  libs/openchallenges/ui/src/index.ts
  libs/openchallenges/ui/src/lib/organization-card/mock-members.ts
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.html
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.ts
Owners: @tschaffter, @rrchai, @vpchung

upgrade primeng (#1892)
  package.json
  yarn.lock
Owners: @tschaffter

update some org card layouts
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.html
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.scss
Owners: @tschaffter, @rrchai, @vpchung

not show members by default and update org card layouts
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.html
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.html
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.scss
  libs/openchallenges/ui/src/lib/organization-card/organization-card.component.ts
Owners: @tschaffter, @rrchai, @vpchung

fixed tests
  apps/schematic/api/schematic_api/controllers/schema_controller.py
  apps/schematic/api/schematic_api/test/test_schema_controller_endpoints.py
  apps/schematic/api/templates/controller.mustache
Owners: @linglp, @andrewelamb

changed name of endpoint
  apps/schematic/api/schematic_api/controllers/schema_controller.py
  apps/schematic/api/schematic_api/controllers/security_controller_.py
  apps/schematic/api/schematic_api/controllers/storage_controller.py
  apps/schematic/api/schematic_api/openapi/openapi.yaml
  apps/schematic/api/schematic_api/test/__init__.py
  apps/schematic/api/schematic_api/typing_utils.py
  apps/schematic/api/schematic_api/util.py
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/openapi.yaml
  libs/schematic/api-description/src/paths/components/@{componentLabel}/parents.yaml
Owners: @linglp, @andrewelamb

changed name of endpoint
  apps/schematic/api/schematic_api/controllers/schema_controller.py
  apps/schematic/api/schematic_api/controllers/security_controller_.py
  apps/schematic/api/schematic_api/controllers/storage_controller.py
  apps/schematic/api/schematic_api/test/__init__.py
  apps/schematic/api/schematic_api/test/test_schema_controller_endpoints.py
  apps/schematic/api/schematic_api/typing_utils.py
  apps/schematic/api/schematic_api/util.py
Owners: @linglp, @andrewelamb

added tests
  apps/schematic/api/schematic_api/test/test_storage_controller_endpoints.py
  apps/schematic/api/schematic_api/test/test_storage_controller_impl.py
Owners: @linglp, @andrewelamb

.github/CODEOWNERS:

* @tschaffter

/apps/openchallenges/ @tschaffter @rrchai @vpchung
/libs/openchallenges/ @tschaffter @rrchai @vpchung

/apps/schematic/ @linglp @andrewelamb
/libs/schematic/ @linglp @andrewelamb

/libs/shared/ @tschaffter
