Repository Sage-Bionetworks/sage-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tschaffter, @rrchai, @vpchung, @linglp, @andrewelamb

use `grid` on card-group to better fit our cards layout
  libs/openchallenges/styles/src/lib/_general.scss
Owners: @tschaffter, @rrchai, @vpchung

Add script to prepare R environments
  tools/prepare-r-environments.js
Owners: @tschaffter

Improve script with Sonar
  tools/prepare-r-environments.js
Owners: @tschaffter

Rename scripts
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
  tools/prepare-java-envs.js
  tools/prepare-nodejs-envs.js
  tools/prepare-python-envs.js
  tools/prepare-r-envs.js
Owners: @tschaffter

Update message
  tools/prepare-nodejs-envs.js
Owners: @tschaffter

chore: Add Git hook to prepare R environments (#1897)
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
  tools/prepare-java-envs.js
  tools/prepare-nodejs-envs.js
  tools/prepare-python-envs.js
  tools/prepare-r-envs.js
Owners: @tschaffter

feat: Setup DNS for `dev.openchallenges.io` (#1607)
  apps/openchallenges/infra/README.md
  apps/openchallenges/infra/src/cnb-dev-stack.ts
  apps/openchallenges/infra/src/dns/cnb-dev-dns.ts
  apps/openchallenges/infra/src/dns/openchallenges-dev-dns.ts
  apps/openchallenges/infra/src/main.ts
  apps/openchallenges/infra/src/openchallenges-preview-stack.ts
  apps/openchallenges/infra/src/preview-instance-alb/preview-instance-alb.ts
  apps/openchallenges/infra/src/resources/scripts/preview-instance.sh
  apps/openchallenges/infra/src/security-group/security-groups.ts
Owners: @tschaffter, @rrchai, @vpchung

Restore systcl command for setting `vm.max_map_count`
  dev-env.sh
Owners: @tschaffter

Update doc
  dev-env.sh
Owners: @tschaffter

Build selected image instead of all affected projects
  .github/workflows/ci.yml
Owners: @tschaffter

fix: Set `vm.max_map_count` when starting a new terminal (#1900)
  dev-env.sh
Owners: @tschaffter

Build selected image instead of all affected projects (#1901)
  .github/workflows/ci.yml
Owners: @tschaffter

feat: update mocked endpoints (#1817)
  apps/schematic/api/.gitignore
  apps/schematic/api/.openapi-generator-ignore
  apps/schematic/api/.openapi-generator/FILES
  apps/schematic/api/poetry.lock
  apps/schematic/api/project.json
  apps/schematic/api/pyproject.toml
  apps/schematic/api/schematic_api/controllers/storage_controller.py
  apps/schematic/api/schematic_api/controllers/storage_controller_impl.py
  apps/schematic/api/schematic_api/models/__init__.py
  apps/schematic/api/schematic_api/models/asset_type.py
  apps/schematic/api/schematic_api/models/dataset.py
  apps/schematic/api/schematic_api/models/manifest.py
  apps/schematic/api/schematic_api/models/manifests_page.py
  apps/schematic/api/schematic_api/models/manifests_page_all_of.py
  apps/schematic/api/schematic_api/mypy.ini
  apps/schematic/api/schematic_api/openapi/openapi.yaml
  apps/schematic/api/schematic_api/test/__init__.py
  apps/schematic/api/schematic_api/test/conftest.py
  apps/schematic/api/schematic_api/test/test_storage_controller.py
  apps/schematic/api/schematic_api/test/test_storage_controller_endpoints.py
  apps/schematic/api/schematic_api/test/test_storage_controller_impl.py
  apps/schematic/api/schematic_api/typing_utils.py
  apps/schematic/api/templates/controller.mustache
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/components/parameters/path/assetType.yaml
  libs/schematic/api-description/src/components/parameters/path/assetViewId.yaml
  libs/schematic/api-description/src/components/schemas/AssetType.yaml
  libs/schematic/api-description/src/components/schemas/AssetView.yaml
  libs/schematic/api-description/src/components/schemas/AssetViewId.yaml
  libs/schematic/api-description/src/components/schemas/Dataset.yaml
  libs/schematic/api-description/src/components/schemas/Manifest.yaml
  libs/schematic/api-description/src/components/schemas/ProjectId.yaml
  libs/schematic/api-description/src/openapi.yaml
  libs/schematic/api-description/src/paths/assetTypes/@{assetType}/assetViews/@{assetViewId}/projects/@{projectId}/datasets.yaml
  libs/schematic/api-description/src/paths/assetTypes/@{assetType}/assetViews/@{assetViewId}/projects/@{projectId}/manifests.yaml
  libs/schematic/api-description/src/paths/storages/asset-views/@{assetView}/projects/@{projectId}/manifests.yaml
  libs/schematic/api-description/src/paths/storages/projects/@{projectId}/datasets.yaml
Owners: @linglp, @andrewelamb

add default value for missing DOI
  libs/openchallenges/challenge/src/lib/challenge-overview/challenge-overview.component.html
Owners: @tschaffter, @rrchai, @vpchung

hide members
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.html
Owners: @tschaffter, @rrchai, @vpchung

fix cards layout in home
  libs/openchallenges/home/src/lib/challenge-host-list/challenge-host-list.component.html
  libs/openchallenges/home/src/lib/challenge-host-list/challenge-host-list.component.scss
  libs/openchallenges/home/src/lib/featured-challenge-list/featured-challenge-list.component.html
  libs/openchallenges/home/src/lib/featured-challenge-list/featured-challenge-list.component.scss
Owners: @tschaffter, @rrchai, @vpchung

add new endpoint
  apps/schematic/api/.openapi-generator/FILES
  apps/schematic/api/schematic_api/controllers/storage_controller.py
  apps/schematic/api/schematic_api/controllers/storage_controller_impl.py
  apps/schematic/api/schematic_api/models/__init__.py
  apps/schematic/api/schematic_api/models/project.py
  apps/schematic/api/schematic_api/models/projects_page.py
  apps/schematic/api/schematic_api/models/projects_page_all_of.py
  apps/schematic/api/schematic_api/openapi/openapi.yaml
  apps/schematic/api/schematic_api/test/test_storage_controller_endpoints.py
  apps/schematic/api/schematic_api/test/test_storage_controller_impl.py
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/components/schemas/Project.yaml
  libs/schematic/api-description/src/components/schemas/ProjectsPage.yaml
  libs/schematic/api-description/src/openapi.yaml
  libs/schematic/api-description/src/paths/assetTypes/@{assetType}/assetViews/@{assetViewId}/projects.yaml
Owners: @linglp, @andrewelamb

add endpoint
  apps/schematic/api/.openapi-generator-ignore
  apps/schematic/api/.openapi-generator/FILES
  apps/schematic/api/schematic_api/controllers/schema_controller.py
  apps/schematic/api/schematic_api/controllers/schema_controller_impl.py
  apps/schematic/api/schematic_api/controllers/storage_controller_impl.py
  apps/schematic/api/schematic_api/controllers/utils.py
  apps/schematic/api/schematic_api/models/__init__.py
  apps/schematic/api/schematic_api/models/attribute.py
  apps/schematic/api/schematic_api/models/attributes_page.py
  apps/schematic/api/schematic_api/models/attributes_page_all_of.py
  apps/schematic/api/schematic_api/openapi/openapi.yaml
  apps/schematic/api/schematic_api/test/test_schema_controller_endpoints.py
  apps/schematic/api/schematic_api/test/test_schema_controller_impl.py
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/components/parameters/path/componentLabel.yaml
  libs/schematic/api-description/src/components/parameters/path/schemaUrl.yaml
  libs/schematic/api-description/src/components/schemas/Attribute.yaml
  libs/schematic/api-description/src/components/schemas/AttributesPage.yaml
  libs/schematic/api-description/src/components/schemas/ComponentLabel.yaml
  libs/schematic/api-description/src/components/schemas/SchemaUrl.yaml
  libs/schematic/api-description/src/openapi.yaml
  libs/schematic/api-description/src/paths/components/@{componentLabel}/attributes.yaml
Owners: @linglp, @andrewelamb

update name of template
  libs/openchallenges/challenge/src/lib/challenge-overview/challenge-overview.component.html
Owners: @tschaffter, @rrchai, @vpchung

add default value for empty inputDataTypes
  libs/openchallenges/challenge/src/lib/challenge-overview/challenge-overview.component.html
Owners: @tschaffter, @rrchai, @vpchung

add default value for empty incentives
  libs/openchallenges/challenge/src/lib/challenge-overview/challenge-overview.component.html
Owners: @tschaffter, @rrchai, @vpchung

filled in docstrings
  apps/schematic/api/schematic_api/controllers/schema_controller_impl.py
Owners: @linglp, @andrewelamb

fix backward arguments
  apps/schematic/api/schematic_api/controllers/schema_controller_impl.py
  apps/schematic/api/schematic_api/test/test_schema_controller_impl.py
Owners: @linglp, @andrewelamb

remove drop shadow from org card
  libs/openchallenges/ui/src/lib/organization-card/_organization-card-theme.scss
Owners: @tschaffter, @rrchai, @vpchung

remove drop shadow from goal card
  libs/openchallenges/about/src/lib/about.component.scss
Owners: @tschaffter, @rrchai, @vpchung

use grey text for "NA" values
  libs/openchallenges/challenge/src/lib/challenge-overview/_challenge-overview-theme.scss
  libs/openchallenges/challenge/src/lib/challenge-overview/challenge-overview.component.html
  libs/openchallenges/org-profile/src/lib/org-profile-overview/_org-profile-overview-theme.scss
  libs/openchallenges/org-profile/src/lib/org-profile-overview/org-profile-overview.component.html
Owners: @tschaffter, @rrchai, @vpchung

chore: Remove OpenChallenges MinIO (#1880)
  .devcontainer/devcontainer.json
  apps/openchallenges/minio/.env.example
  apps/openchallenges/minio/Dockerfile
  apps/openchallenges/minio/project.json
  apps/openchallenges/thumbor/README.md
  docker/openchallenges/serve-detach.sh
  docker/openchallenges/services/minio.yml
  docker/openchallenges/volumes.yml
  tools/configure-hostnames.sh
Owners: @tschaffter, @rrchai, @vpchung

add grey border around logo on org card
  libs/openchallenges/ui/src/lib/organization-card/_organization-card-theme.scss
Owners: @tschaffter, @rrchai, @vpchung

reorder filters for challenges
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.html
Owners: @tschaffter, @rrchai, @vpchung

open all filters for challenges
  libs/openchallenges/challenge-search/src/lib/challenge-search-filters.ts
Owners: @tschaffter, @rrchai, @vpchung

fix(ui): remove drop shadows from select cards (#1905)
  libs/openchallenges/about/src/lib/about.component.scss
  libs/openchallenges/ui/src/lib/organization-card/_organization-card-theme.scss
Owners: @tschaffter, @rrchai, @vpchung

fix(ui): Add default text for empty fields on profile pages (#1904)
  libs/openchallenges/challenge/src/lib/challenge-overview/_challenge-overview-theme.scss
  libs/openchallenges/challenge/src/lib/challenge-overview/challenge-overview.component.html
  libs/openchallenges/org-profile/src/lib/org-profile-overview/_org-profile-overview-theme.scss
  libs/openchallenges/org-profile/src/lib/org-profile-overview/org-profile-overview.component.html
Owners: @tschaffter, @rrchai, @vpchung

change default sort to challenge_count in org search
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.ts
  libs/openchallenges/org-search/src/lib/org-search.component.ts
Owners: @tschaffter, @rrchai, @vpchung

add brief description to profile page sections (#2)
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.html
  libs/openchallenges/challenge/src/lib/challenge-organizers/challenge-organizers.component.html
Owners: @tschaffter, @rrchai, @vpchung

Remove About button from the navbar
  apps/openchallenges/app/src/app/app-sections.ts
Owners: @tschaffter, @rrchai, @vpchung

chore: Remove OpenChallenges DB CLI (#1882)
  .github/renovate.json
  .vscode/settings.json
  apps/openchallenges/db-cli/.eslintrc.json
  apps/openchallenges/db-cli/README.md
  apps/openchallenges/db-cli/data/seeds/dev/challenges/01-challenge_platform.json
  apps/openchallenges/db-cli/data/seeds/dev/challenges/02-challenge.json
  apps/openchallenges/db-cli/data/seeds/dev/challenges/_create.txt
  apps/openchallenges/db-cli/data/seeds/dev/challenges/challenge_contribution.json
  apps/openchallenges/db-cli/data/seeds/dev/challenges/challenge_incentive.json
  apps/openchallenges/db-cli/data/seeds/dev/challenges/challenge_submission_type.json
  apps/openchallenges/db-cli/data/seeds/dev/organizations/_create.txt
  apps/openchallenges/db-cli/data/seeds/dev/organizations/challenge_contribution.json
  apps/openchallenges/db-cli/data/seeds/dev/organizations/challenge_organization.json
  apps/openchallenges/db-cli/data/seeds/dev/users.json
  apps/openchallenges/db-cli/data/seeds/prod/challengeOrganizers.json
  apps/openchallenges/db-cli/data/seeds/prod/challengePlatforms.json
  apps/openchallenges/db-cli/data/seeds/prod/challengeReadmes.json
  apps/openchallenges/db-cli/data/seeds/prod/challengeSponsors.json
  apps/openchallenges/db-cli/data/seeds/prod/challenges.json
  apps/openchallenges/db-cli/data/seeds/prod/orgMemberships.json
  apps/openchallenges/db-cli/data/seeds/prod/organizations.json
  apps/openchallenges/db-cli/data/seeds/prod/users.json
  apps/openchallenges/db-cli/jest.config.ts
  apps/openchallenges/db-cli/package.json
  apps/openchallenges/db-cli/project.json
  apps/openchallenges/db-cli/src/app.ts
  apps/openchallenges/db-cli/src/config.ts
  apps/openchallenges/db-cli/src/database.ts
  apps/openchallenges/db-cli/src/index.ts
  apps/openchallenges/db-cli/src/logger.ts
  apps/openchallenges/db-cli/src/util.ts
  apps/openchallenges/db-cli/tsconfig.app.json
  apps/openchallenges/db-cli/tsconfig.json
  apps/openchallenges/db-cli/tsconfig.spec.json
  dev-env.sh
  docs/legacy-repositories.md
Owners: @tschaffter, @rrchai, @vpchung

Update libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.html
  libs/openchallenges/challenge/src/lib/challenge-contributors/challenge-contributors.component.html
Owners: @tschaffter, @rrchai, @vpchung

comment out input data type filter
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.html
Owners: @tschaffter, @rrchai, @vpchung

move year down
  libs/openchallenges/challenge-search/src/lib/challenge-search.component.html
Owners: @tschaffter, @rrchai, @vpchung

Remove About button from the navbar (#1911)
  apps/openchallenges/app/src/app/app-sections.ts
Owners: @tschaffter, @rrchai, @vpchung

.github/CODEOWNERS:

* @tschaffter

/apps/openchallenges/ @tschaffter @rrchai @vpchung
/libs/openchallenges/ @tschaffter @rrchai @vpchung

/apps/schematic/ @linglp @andrewelamb
/libs/schematic/ @linglp @andrewelamb

/libs/shared/ @tschaffter
