Repository Sage-Bionetworks/sage-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tschaffter, @rrchai, @gaiaandreoletti, @Sage-Bionetworks/sage-monorepo-agora, @sagely1

feat(agora): fix url capitalization (AG-1595) (#2979)
  libs/agora/styles/src/lib/components/_table.scss
Owners: @Sage-Bionetworks/sage-monorepo-agora

chore: update dev containerr ID
  .devcontainer/devcontainer.json
  tools/workspace-install.sh
Owners: @tschaffter

chore: remove postCreateCommand
  .devcontainer/devcontainer.json
Owners: @tschaffter

chore: prepare affected Python projects one at a time
  dev-env.sh
Owners: @tschaffter

chore: update the Dev Container 24.01 Edition (#2975)
  .devcontainer/devcontainer.json
  .github/actions/setup-dev-container/action.yml
  apps/iatlas/api/poetry.lock
  apps/iatlas/api/pyproject.toml
  dev-env.sh
  libs/sandbox/py-lib/project.json
  package.json
  tools/check-devcontainer-version.js
  tools/workspace-install.sh
Owners: @tschaffter

specify older version of python to match pyproject
  apps/openchallenges/data-lambda/Dockerfile
Owners: @rrchai, @tschaffter

.github/CODEOWNERS:

* @tschaffter

# Repository administration
/.devcontainer @tschaffter
/.github @tschaffter
/.vscode @tschaffter
/.yarn @tschaffter

# OpenChallenges
/apps/openchallenges/ @rrchai @tschaffter
/libs/openchallenges/ @rrchai @tschaffter

## DB content
/apps/openchallenges/challenge-service/src/main/resources/db/     @tschaffter @gaiaandreoletti
/apps/openchallenges/organization-service/src/main/resources/db/  @tschaffter @gaiaandreoletti

## EDAM ETL
/apps/openchallenges/edam-etl/ @rrchai

## Sage
/apps/sage/ @tschaffter
/libs/sage/ @tschaffter

/apps/agora/ @Sage-Bionetworks/sage-monorepo-agora
/libs/agora/ @Sage-Bionetworks/sage-monorepo-agora

/libs/shared/ @tschaffter

/apps/model-ad/ @sagely1
/docker/model-ad/ @sagely1
/libs/model-ad/ @sagely1
/libs/results-visualization-framework/ @sagely1
