Repository Sage-Bionetworks/sage-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tschaffter, @rrchai, @vpchung, @gaiaandreoletti, @andrewelamb, @GiaJordan, @linglp, @mialy-defelice, @milen-sage, @lakikowolfe, @afwillia, @Sage-Bionetworks/sage-monorepo-agora

add the container to the OC stack (standalone)
  docker/openchallenges/serve-detach.sh
  docker/openchallenges/services/edam-etl.yml
Owners: @tschaffter

integrate the ETL container to the OC stack
  docker/openchallenges/services/challenge-service.yml
Owners: @tschaffter

feat(openchallenges): add EDAM concept table to the chalenge service (#2521)
  apps/openchallenges/challenge-service/src/main/resources/application.yml
  apps/openchallenges/challenge-service/src/main/resources/db/edam_concept.csv
  apps/openchallenges/challenge-service/src/main/resources/db/migration/V1.0.0__create_tables.sql
  apps/openchallenges/challenge-service/src/main/resources/db/migration/V1.0.1__insert_temp_data.sql
  docker/openchallenges/services/challenge-service.yml
Owners: @rrchai, @tschaffter, @vpchung, @gaiaandreoletti

rename file and add to mkdocs.yml
  docs/developers-guide/creating-a-commit-with-multiple-authors.md
  mkdocs.yml
Owners: @tschaffter

minor change
  docs/developers-guide/creating-a-commit-with-multiple-authors.md
Owners: @tschaffter

docs(sage-monorepo): add docs about co-authors (#2523)
  docs/developers-guide/creating-a-commit-with-multiple-authors.md
  mkdocs.yml
Owners: @tschaffter

fix part of the co-author docs
  docs/developers-guide/creating-a-commit-with-multiple-authors.md
Owners: @tschaffter

updated schematic to 24.2.1, fixed breaking changes
  apps/schematic/api/poetry.lock
  apps/schematic/api/pyproject.toml
  apps/schematic/api/schematic_api/controllers/manifest_validation_controller.py
  apps/schematic/api/schematic_api/controllers/manifest_validation_controller_impl.py
  apps/schematic/api/schematic_api/controllers/schema_controller.py
  apps/schematic/api/schematic_api/controllers/schema_controller_impl.py
  apps/schematic/api/schematic_api/controllers/tangled_tree_controller.py
  apps/schematic/api/schematic_api/controllers/tangled_tree_controller_impl.py
  apps/schematic/api/schematic_api/controllers/utils.py
  apps/schematic/api/schematic_api/openapi/openapi.yaml
  apps/schematic/api/schematic_api/test/test_manifest_validation_endpoints.py
  apps/schematic/api/schematic_api/test/test_tangled_tree_endpoints.py
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/components/parameters/query/displayLabelType.yaml
  libs/schematic/api-description/src/components/parameters/query/useSchemaLabel.yaml
  libs/schematic/api-description/src/paths/components/@{componentLabel}/component.yaml
  libs/schematic/api-description/src/paths/schemaAttributes.yaml
  libs/schematic/api-description/src/paths/submitManifestCsv.yaml
  libs/schematic/api-description/src/paths/submitManifestJson.yaml
  libs/schematic/api-description/src/paths/tangledTreeLayers.yaml
  libs/schematic/api-description/src/paths/tangledTreeText.yaml
  libs/schematic/api-description/src/paths/validateManifestCsv.yaml
  libs/schematic/api-description/src/paths/validateManifestJson.yaml
Owners: @andrewelamb, @GiaJordan, @linglp, @mialy-defelice, @milen-sage

fix format
  docs/developers-guide/creating-a-commit-with-multiple-authors.md
Owners: @tschaffter

remove mkdocstrings extension and sort them
  mkdocs.yml
Owners: @tschaffter

docs(sage-monorepo): fix the format of the co-author docs page (#2528)
  docs/developers-guide/creating-a-commit-with-multiple-authors.md
  mkdocs.yml
Owners: @tschaffter

add comment
  apps/openchallenges/edam-etl/prepare-python.sh
  apps/openchallenges/edam-etl/project.json
Owners: @rrchai, @tschaffter, @vpchung

read config from env vars (example)
  apps/openchallenges/edam-etl/.env.example
  apps/openchallenges/edam-etl/src/main.py
Owners: @rrchai, @tschaffter, @vpchung

add preview to README.md
  apps/openchallenges/edam-etl/README.md
Owners: @rrchai, @tschaffter, @vpchung

fix typo
  apps/openchallenges/edam-etl/README.md
Owners: @rrchai, @tschaffter, @vpchung

fix typo
  docker/openchallenges/serve-detach.sh
Owners: @tschaffter

add data_label_type parameter
  apps/schematic/api/schematic_api/controllers/manifest_generation_controller.py
  apps/schematic/api/schematic_api/controllers/manifest_generation_controller_impl.py
  apps/schematic/api/schematic_api/controllers/schema_controller.py
  apps/schematic/api/schematic_api/controllers/schema_controller_impl.py
  apps/schematic/api/schematic_api/openapi/openapi.yaml
  apps/schematic/api/schematic_api/test/test_manifest_generation_endpoints.py
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/paths/connectedNodePairArray.yaml
  libs/schematic/api-description/src/paths/connectedNodePairPage.yaml
  libs/schematic/api-description/src/paths/generateGoogleSheetManifests.yaml
  libs/schematic/api-description/src/paths/nodes/@{nodeDisplay}/isRequired.yaml
  libs/schematic/api-description/src/paths/nodes/@{nodeDisplay}/validationRules.yaml
  libs/schematic/api-description/src/paths/nodes/@{nodeLabel}/dependencyArray.yaml
  libs/schematic/api-description/src/paths/nodes/@{nodeLabel}/dependencyPage.yaml
  libs/schematic/api-description/src/paths/nodes/@{nodeLabel}/nodeProperties.yaml
Owners: @andrewelamb, @GiaJordan, @linglp, @mialy-defelice, @milen-sage

feat(schematic): fds-1688 add endpoints that return files (#2515)
  apps/schematic/api/schematic_api/controllers/storage_controller.py
  apps/schematic/api/schematic_api/controllers/storage_controller_impl.py
  apps/schematic/api/schematic_api/openapi/openapi.yaml
  apps/schematic/api/schematic_api/test/conftest.py
  apps/schematic/api/schematic_api/test/test_storage_controller_endpoints.py
  apps/schematic/api/schematic_api/test/test_storage_controller_endpoints2.py
  apps/schematic/api/schematic_api/test/test_storage_controller_impl.py
  apps/schematic/api/schematic_api/test/test_synapse_endpoints.py
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/openapi.yaml
  libs/schematic/api-description/src/paths/assetTypes/@{assetType}/assetViews/@{assetViewId}/csv.yaml
  libs/schematic/api-description/src/paths/assetTypes/@{assetType}/datasets/@{datasetId}/manifestCsv.yaml
  libs/schematic/api-description/src/paths/assetTypes/@{assetType}/manifests/@{manifestId}/csv.yaml
Owners: @andrewelamb, @GiaJordan, @linglp, @mialy-defelice, @milen-sage

update CSV dumping script
  apps/openchallenges/db-update/update_db_csv.py
Owners: @rrchai, @tschaffter, @vpchung

remove unneeded function
  apps/openchallenges/db-update/update_db_csv.py
Owners: @rrchai, @tschaffter, @vpchung

2024-02-23: add latest CSV dump files
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/service/ChallengeAnalyticsService.java
  apps/openchallenges/challenge-service/src/main/resources/db/challenges.csv
  apps/openchallenges/challenge-service/src/main/resources/db/contribution_roles.csv
  apps/openchallenges/challenge-service/src/main/resources/db/incentives.csv
  apps/openchallenges/challenge-service/src/main/resources/db/submission_types.csv
  apps/openchallenges/organization-service/src/main/resources/db/contribution_roles.csv
  apps/openchallenges/organization-service/src/main/resources/db/organizations.csv
Owners: @rrchai, @tschaffter, @vpchung, @gaiaandreoletti

fix operation pattern
  libs/openchallenges/api-description/build/challenge.openapi.yaml
  libs/openchallenges/api-description/build/openapi.yaml
  libs/openchallenges/api-description/src/components/schemas/Challenge.yaml
  libs/openchallenges/api-description/src/components/schemas/EdamOperation.yaml
Owners: @rrchai, @tschaffter, @vpchung

regenerate challenge service
  apps/openchallenges/challenge-service/.openapi-generator/FILES
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/api/ChallengeApiDelegate.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/dto/ChallengeDto.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/dto/EdamOperationDto.java
  apps/openchallenges/challenge-service/src/main/resources/openapi.yaml
Owners: @rrchai, @tschaffter, @vpchung

regenerate api client for Ng
  libs/openchallenges/api-client-angular/src/lib/.openapi-generator/FILES
  libs/openchallenges/api-client-angular/src/lib/model/challenge.ts
  libs/openchallenges/api-client-angular/src/lib/model/challengeSubmissionType.ts
  libs/openchallenges/api-client-angular/src/lib/model/edamOperation.ts
  libs/openchallenges/api-client-angular/src/lib/model/models.ts
  libs/openchallenges/challenge-search/src/lib/challenge-search-filters.ts
Owners: @rrchai, @tschaffter, @vpchung

forget about EdamOperation because of missing co-author
  libs/openchallenges/api-description/src/components/schemas/EdamOperation.yaml
Owners: @rrchai, @tschaffter, @vpchung

add Verena as co-author
  libs/openchallenges/api-description/src/components/schemas/EdamOperation.yaml
Owners: @rrchai, @tschaffter, @vpchung

minor change
  libs/openchallenges/api-description/src/components/schemas/EdamOperation.yaml
Owners: @rrchai, @tschaffter, @vpchung

2024-02-26: add latest CSV dump files
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/service/ChallengeAnalyticsService.java
  apps/openchallenges/challenge-service/src/main/resources/db/categories.csv
  apps/openchallenges/challenge-service/src/main/resources/db/challenges.csv
Owners: @rrchai, @tschaffter, @vpchung, @gaiaandreoletti

update challenge data with fake operation value
  apps/openchallenges/challenge-service/src/main/resources/db/challenges.csv
  apps/openchallenges/challenge-service/src/main/resources/db/migration/V1.0.0__create_tables.sql
  libs/openchallenges/api-description/build/challenge.openapi.yaml
  libs/openchallenges/api-description/build/openapi.yaml
Owners: @tschaffter, @vpchung, @gaiaandreoletti, @rrchai

add EdamConceptEntity
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/entity/EdamConceptEntity.java
Owners: @rrchai, @tschaffter, @vpchung

implementing challenge operation in challenge service (does not work yet)
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/entity/ChallengeEntity.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/entity/EdamOperationEntity.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/mapper/ChallengeMapper.java
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/mapper/EdamOperationMapper.java
  apps/openchallenges/challenge-service/src/main/resources/db/challenges.csv
  apps/openchallenges/challenge-service/src/main/resources/db/migration/V1.0.0__create_tables.sql
  apps/openchallenges/challenge-service/src/main/resources/db/migration/V1.0.1__insert_temp_data.sql
Owners: @rrchai, @tschaffter, @vpchung, @gaiaandreoletti

fix 3 invisible characters
  apps/openchallenges/challenge-service/src/main/resources/db/challenges.csv
Owners: @tschaffter, @vpchung, @gaiaandreoletti

cleanup
  apps/openchallenges/challenge-service/requests.http
  apps/openchallenges/challenge-service/src/main/java/org/sagebionetworks/openchallenges/challenge/service/model/mapper/ChallengeMapper.java
  apps/openchallenges/challenge-service/src/main/resources/db/challenges.csv
Owners: @rrchai, @tschaffter, @vpchung, @gaiaandreoletti

update comment
  libs/openchallenges/api-client-angular/src/lib/model/edamOperation.ts
Owners: @rrchai, @tschaffter, @vpchung

mialys suggestions
  apps/schematic/api/schematic_api/controllers/manifest_validation_controller.py
  apps/schematic/api/schematic_api/controllers/manifest_validation_controller_impl.py
  apps/schematic/api/schematic_api/openapi/openapi.yaml
  libs/schematic/api-description/build/openapi.yaml
  libs/schematic/api-description/src/components/parameters/query/annotationKeyStyle.yaml
  libs/schematic/api-description/src/components/parameters/query/tableColumnNameStyle.yaml
  libs/schematic/api-description/src/paths/submitManifestCsv.yaml
  libs/schematic/api-description/src/paths/submitManifestJson.yaml
Owners: @andrewelamb, @GiaJordan, @linglp, @mialy-defelice, @milen-sage

change comment line
  apps/openchallenges/organization-service/src/test/java/org/sagebionetworks/openchallenges/organization/service/service/OrganizationServiceTest.java
Owners: @rrchai, @tschaffter, @vpchung

update line comment
  apps/openchallenges/organization-service/src/test/java/org/sagebionetworks/openchallenges/organization/service/service/OrganizationServiceTest.java
Owners: @rrchai, @tschaffter, @vpchung

.github/CODEOWNERS:

* @tschaffter

/apps/openchallenges/ @rrchai @tschaffter @vpchung
/libs/openchallenges/ @rrchai @tschaffter @vpchung

# OC DB content
/apps/openchallenges/challenge-service/src/main/resources/db/     @tschaffter @vpchung @gaiaandreoletti
/apps/openchallenges/organization-service/src/main/resources/db/  @tschaffter @vpchung @gaiaandreoletti

# Schematic
/apps/schematic/ @andrewelamb @GiaJordan @linglp @mialy-defelice @milen-sage
/libs/schematic/ @andrewelamb @GiaJordan @linglp @mialy-defelice @milen-sage
/libs/schematic/api-client-r/ @andrewelamb @lakikowolfe @afwillia

/apps/agora/ @Sage-Bionetworks/sage-monorepo-agora
/libs/agora/ @Sage-Bionetworks/sage-monorepo-agora

/libs/shared/ @tschaffter
