Repository Sage-Bionetworks/sage-monorepo, pull requests merged in 2022-06, with the labels that each got.

#294 Add install alias
  dev-env.sh
Labels: documentation, dev/env

#306 Update docs for developing on a remote host
  docs/develop-on-a-remote-host.md
Labels: dev/devcontainer

#309 Create app hostnames
  dev-env.sh
  tools/add-hostnames.sh
  tools/devcontainers/challenge-devcontainer/.devcontainer/Dockerfile
Labels: dev/env

#353 Update navbar to UI v3
  apps/challenge-registry/src/app/app.component.ts
  libs/challenge-registry/ui/src/_lib-theme.scss
  libs/challenge-registry/ui/src/index.ts
  libs/challenge-registry/ui/src/lib/navbar/_navbar-theme.scss
  libs/challenge-registry/ui/src/lib/navbar/navbar.component.html
  libs/challenge-registry/ui/src/lib/navbar/navbar.component.scss
  libs/challenge-registry/ui/src/lib/user-button/_user-button-theme.scss
  libs/challenge-registry/ui/src/lib/user-button/mock-menu-items.ts
  libs/challenge-registry/ui/src/lib/user-button/mock-user.ts
  libs/challenge-registry/ui/src/lib/user-button/user-button.component.html
  libs/challenge-registry/ui/src/lib/user-button/user-button.component.scss
  libs/challenge-registry/user-profile/src/lib/user-profile.component.ts
Labels: frontend

#354 Update login page to UI v3
  libs/challenge-registry/login/src/lib/login.component.html
  libs/challenge-registry/login/src/lib/login.component.scss
  libs/challenge-registry/ui/src/_lib-theme.scss
  libs/challenge-registry/ui/src/lib/navbar/_navbar-theme.scss
  libs/shared/assets/src/assets/images/registry_b.png
Labels: frontend
